[2021-03-30 15:49] Vyvy-vi opened #9 "Add link to the site in the repo description"
### Description-
This would help in linking people to the deployed version faster and it would also maybe help in the embed's generated for the project.

### Is this really important?-
Not really, but can add a small utility

### Screenshot of how this looks-
![Screenshot 2021-03-30 at 9 23 52 PM](https://user-images.githubusercontent.com/62864373/113018623-5c0abd00-919e-11eb-9f00-8dab2429abb0.png

[2021-03-30 15:53] eddiejaoude opened #10 "Discord link in the README"
I think we should add the discord link https://discord.com/invite/Tfr67ehuJH

[2021-03-30 15:54] karan-ksrk opened #12 "Add Footer"
Add the footer in Doc

[2021-03-30 15:56] martin-99 opened #14 "Dependencies list in the README"
Hi, I think we should add a dependencies list in the README file for future contributors.

[2021-03-30 15:58] divanov11 commented on #14
Yes :)

[2021-03-30 16:04] #10 closed

[2021-03-30 16:06] kcoder63 opened #16 "Typo in README"
There's a typo in README

It should be `developers` and not `develpers`
![IMG_20210330_213407](https://user-images.githubusercontent.com/74637789/113020124-ea337300-919f-11eb-9bdc-e40a2b5756b2.jpg)

[2021-03-30 16:06] #12 closed

[2021-03-30 16:16] Rahma-AlWadhahi opened #18 "Typo in the description similar to README"
This links to #16

There is a typo in the description as well.
**developers** instead of _develpers_

#### Screenshot

<img width="304" alt="Screen Shot 2021-03-30 at 20 12 37" src="https://user-images.githubusercontent.com/61970868/113021104-498b8600-9194-11eb-9eaf-6081300a4bad.png">

[2021-03-30 17:19] vinzvinci opened #21 "dark mode & light mode features"
**Description:**
It will be cool if the website has dark and light mode features.

**Is this really important?:**
Yeah, it hurts seeing light mode `(I'm sure other people recommend dark mode too)`

[2021-03-30 17:27] vinzvinci opened #22 "Add ISSUE_TEMPLATES"
**Description:**
I recommend add **ISSUES_TEMPLATES** with **label**.

Like
- Feature request
- Bug
- Etc.

~~-~~

**Is this really important?:**
Yes, this can be use as a guide specially when there's new people in **open-source** and wants to contribute in this repo.

[2021-03-30 17:30] SamTheFam opened #23 "Add CONTRIBUTING.md draft"
Contributing guidelines are very important for open source.

I would be more than happy to make a draft.

[2021-03-30 17:33] vinzvinci commented on #23
There's already working for it
PR link: <a href="https://github.com/divanov11/mumble/pull/19">https://github.com/divanov11/mumble/pull/19</a>

[2021-03-30 18:40] #23 closed

[2021-03-30 18:42] SamTheFam opened #25 "Add CODE OF CONDUCT.md"
[CONTRIBUTING.md](https://github.com/divanov11/mumble/blob/master/CONTRIBUTING.md) links CODE OF CONDUCT.md but the file does not yet exist.

[2021-03-30 18:51] divanov11 commented on #25
I'm up for it

[2021-03-30 18:52] divanov11 commented on #22
Agreed

[2021-03-30 18:57] abhivemp commented on #22
I am down to work on this. Just want to confirm with you both @divanov11 @vinzvinci since there is no task assigning in this repo.

[2021-03-30 20:11] Vyvy-vi commented on #22
We could maybe grab some of the pre-existing templates, if Dennis agrees on them:
https://github.com/stevemao/github-issue-templates/

The added benefit of these is automatic label assignment when an issue of a certain type is opened. (*the labels would have to be created, before being they can be assigned) https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-

[2021-03-30 20:58] #25 closed

[2021-03-30 21:28] abhivemp commented on #22
@Vyvy-vi I guess I should've been specific but yes, I agree with you in that we should take templates. Ultimately, Dennis should make the call.

[2021-03-30 22:06] SamTheFam opened #31 "Users Search page - Find all users on platform by name, username & interests"
I will be working on this task.

[2021-03-30 22:07] divanov11 commented on #31
Awesome!

[2021-03-30 22:34] #31 closed

[2021-03-30 23:21] i-am-zach opened #33 "FEAT: Add labels so that issues can be marked appropriately."
Off the top of my head I can think of:
* Feature Request
* Bug
* Improvement
* Frontend
* Backend
* UI-Kit

[2021-03-30 23:21] #33 closed

[2021-03-30 23:23] i-am-zach opened #34 "FEAT: Topic Search Page"
Taken from TASKS-UPDATES.md:

Topic search page - Search topics and add them to your list of interests

[2021-03-30 23:23] i-am-zach commented on #34
I'm not taking this one, but thought it should be raised as an issue so someone can!

[2021-03-30 23:27] i-am-zach opened #35 "FEAT: Article Page"
Standalone page for an article. The page that should render when someone goes to `http://mumble.dev/articles/<slug>`. Should be implemented in the frontend folder.

Note to Dennis (and other Repository Managers): you can assign users to issues to that it's clear to everyone that they are responsible for appropriate task. Read about it here https://docs.github.com/en/enterprise-server@2.22/github/m

[2021-03-30 23:29] i-am-zach opened #36 "FEAT: Header Bar"
React UI component that should be displayed on the top of every page. This should probably not be implemented until the discord has decided on Mumble's logo officially.

[2021-03-31 00:32] vinzvinci commented on #21
Thanks for a great feedback! We can keep this issue open while `dark mode feature` isn't release.

[2021-03-31 02:03] divanov11 commented on #36
Ageed

[2021-03-31 02:12] justin107d opened #40 "Header Dropdown"
Hi, I would like to add the dropdown functionality into header.js

Thanks,

![image](https://user-images.githubusercontent.com/35573658/113080387-d6d6d680-91a4-11eb-8f6c-5e7eeaf2239e.png)

[2021-03-31 02:37] #40 closed

[2021-03-31 02:39] justin107d commented on #40
I think I am getting overzealous. There is not much to link to yet.

[2021-03-31 03:10] EugeneGohh commented on #21
Hi there, I have worked on this issue. Here's the [PR](https://github.com/divanov11/Mumble/pull/42), feel free to make some changes to it.

[2021-03-31 03:30] ujjawal-shrivastava opened #44 "FIX: Post Form (HomePage) Outline"
Current PostForm component's text area shows the default css outline.

Either it could be set to none (for which I can create a PR) or we can use the new form fields created by Shuvo.

![CURRENT_OUTLINE](https://user-images.githubusercontent.com/57309688/113086472-4b3e6380-91ff-11eb-9917-dc6df987519e.png)

[2021-03-31 04:26] felixfaisal opened #48 "AUTOMATION: Github Action for React Build"
Continous Integration
Everytime someone creates a PR, check if the react build fails.

Bonus add on
Lint code according to the standards defined by you.

[2021-03-31 04:27] felixfaisal commented on #48
I would also like to work on it myself :))

[2021-03-31 04:48] Vyvy-vi commented on #48
That would be great!
I think GitHub actions would be a great fit

[2021-03-31 05:10] einsatz3012 opened #49 "FIX: Broken Link"
Link to Code of Conduct inside [CONTRIBUTING.md](https://github.com/einsatz3012/Mumble/blob/master/CONTRIBUTING.md)  is not working, giving Not Found.

![Screenshot_2021-03-31 divanov11 Mumble](https://user-images.githubusercontent.com/54238597/113092992-b0e51c80-920c-11eb-8ecc-cc49620aed78.png)

[2021-03-31 05:15] Vyvy-vi commented on #40
I think you can keep the issue open and maybe open a PR after some time, when this can be implemented.

[2021-03-31 05:25] felixfaisal opened #51 "FIX: Add Gitignore file"
We can have a global gitignore file for both React and Django

This is useful, as someone would mistakenly push the nodejs modules or pycache in django.
I'm assuming that the backend would be written in django

[2021-03-31 05:26] Vyvy-vi commented on #49
Wupps, #27 slip-up
The link should be-
https://github.com/divanov11/mumble/blob/master/CODE_OF_CONDUCT.md

[2021-03-31 05:26] felixfaisal commented on #51
I would like to work on adding this :)

[2021-03-31 05:51] itzomen commented on #51
Yes the backend will be written in Django
I think we should wait for the backend base files and the create-react-app creates the .gitignore file for the frontend folder

[2021-03-31 05:53] itzomen commented on #49
This type of minor updates can be noted somewhere, so that when there are 2 or more similar updates; they can be fixed all at once to avoid a lot of pull requests of this sort

[2021-03-31 05:59] Vyvy-vi commented on #51
I think there's a .gitignore file for the frontend added by one of the PRs

[2021-03-31 06:04] Vyvy-vi commented on #49
for anyone looking to fix this issue, kindly have a look at these too and make a PR for all of them:
- [ ] #49 - Broken CODE_OF_CONDUCT link in CONTRIBUTING.md
- [ ] #16 - Typo in README

I think we can keep a list of all such issues in the top-most issue, maybe?

[2021-03-31 06:13] itzomen commented on #49
Yes that's a great idea 💡

[2021-03-31 06:39] abisalde commented on #35
Hi Zach,

I want to take the issue for the Article page. However, do we have a mock-up, or I just come up with something on my own because I am more of building with a mock-up design.

Do let me and I await your feedback

[2021-03-31 07:03] MidouWebDev commented on #36
Yeah we will decide tomorrow i think because we are waiting for the fourth logo so that we can create a poll in the discord server and decide about the new MUMBLE logo.

[2021-03-31 10:44] SamTheFam opened #55 "Possible bug with the user search page, needs actual functionality"
Will fix bug and add better functionality.

Edit: Just realised I was using `require` for some reason, will fix that.

[2021-03-31 11:45] bharathjinka09 opened #58 "Website is not responsive for mobile"
I checked the website in my local by forking the repository. I tested it in responsive mode. But it is not responsive.

[2021-03-31 11:48] samuelwondimu commented on #55
i have done the search user and display the user i am going to create a pull request

[2021-03-31 11:51] MidouWebDev commented on #58
I also noticed that and a friend is working on it @Rashik (his nickname in DISCORD)
Contact him !

[2021-03-31 12:08] Rashik4567 commented on #58
We are working on it. Site will be mobile friendly in 2 days following and wait for pull.

[2021-03-31 12:13] einsatz3012 commented on #49
While pushing changes I got some errors because I cloned the Dennis' main repository to my machine instead of cloning my forked repository, so to avoid confusion this point in [CONTRIBUTING.md](https://github.com/divanov11/Mumble/blob/master/CONTRIBUTING.md#pull-requests) can be changed from

to

**If this is the correct solution.**

[2021-03-31 12:16] EugeneGohh opened #60 "Word Enhancement"
Replace **change** with **navigate**. I think this should be better.

![Untitled](https://user-images.githubusercontent.com/64187129/113142815-ea924380-925d-11eb-8d4b-93751d107a8d.png)

[2021-03-31 12:29] samuelwondimu commented on #55
#59 fixed user search

[2021-03-31 13:10] i-am-zach commented on #35
@abisalde ask the design team in the discord if they have anything

[2021-03-31 13:57] vikasganiga05 opened #62 "Broken link on CONTRIBUTING.md"
Hi, there is a broken link to `CODE_OF_CONDUCT.md` in `CONTRIBUTING.md` file.

![screenshot-github com-2021 03 31-19_22_14](https://user-images.githubusercontent.com/74750414/113155778-06deb200-9257-11eb-869a-8c72b20b15c3.png)

[2021-03-31 14:01] einsatz3012 commented on #62
#49 same issue already raised

[2021-03-31 14:04] vikasganiga05 commented on #62
Oh! sorry I didn't notice that, thank you I will close this issue now :slightly_smiling_face: :pray:

[2021-03-31 14:05] vikasganiga05 commented on #62
The same issue is already raised #49. So I decided it close this issue.

[2021-03-31 14:13] vikasganiga05 opened #64 "Docs: Typo in README.md"
Hi, there is a typo in `README.md` file. Multiple `=` signs which are not required.

![screenshot-github com-2021 03 31-19_22_14](https://user-images.githubusercontent.com/74750414/113158260-44443f00-9259-11eb-806c-50f52c2fd3a5.png)

[2021-03-31 14:16] einsatz3012 commented on #49
@Vyvy-vi  can you check this out?

[2021-03-31 14:21] MidouWebDev commented on #64
Yess !

[2021-03-31 14:44] samuelwondimu opened #65 "topic search"

[2021-03-31 15:09] #65 closed

[2021-03-31 19:03] Vyvy-vi commented on #55
I think there are too PRs open for this #56 and #59
(maybe we can try and check out if a PR has been already opened for an issue. This leads to multiple PRs for the same stuff, and might make the maintainer decide on the 'better' PR)

I'll say, when one of the PRs doesn't get accepted, don't be disheartened, this happens from time to time.
You didn't do anything wrong and you can always contribute

[2021-03-31 22:09] Vyvy-vi commented on #49
I think #53 added the change

[2021-04-01 04:08] jewells07 opened #70 "Create High Order Component"
Creating a High Order Component (HOC) for manage layouts and clean in the App.js file.
**Advantage** : Header, Navbar, Alert messages, etc.. will be in `HOC file` and render that one component into in `App.js file`

[2021-04-01 05:55] bharathjinka09 opened #75 "Create Post text box should be a required field"
Hi all,
        Create Post text box should be a required field. Otherwise, anyone can post without having text inside that with empty text.

[2021-04-01 09:28] Rashik4567 commented on #58
Solved on pull request (#78 )

[2021-04-01 12:53] agentraghav opened #81 "Converting js code to ES6"
Current Javascript Code in Mumble doesn't follow es6 syntax.
- Files in frontend/src/Component
- Files in frontend/src/Pages

[2021-04-01 13:10] mani-barathi commented on #81
On which files?... be a little more specific

[2021-04-01 18:01] mohammad4kh opened #86 "Invalid DOM property `class` and 'for'"
There are some components that have _class_ or _for_ attributes which causing warnings in the browser console.

![image](https://user-images.githubusercontent.com/6501582/113334922-956d3500-9324-11eb-9f91-32945faf2623.png)

![image](https://user-images.githubusercontent.com/6501582/113335020-b2a20380-9324-11eb-9713-0081b318fe51.png)

[2021-04-01 21:18] codyseibert commented on #64
fixed in #67

[2021-04-01 21:18] #64 closed

[2021-04-01 21:22] #16 closed

[2021-04-01 21:24] Mr-spShuvo commented on #14
Closing this as putting dependencies list in readme is not a good idea as it's constantly changes.
If you want to learn about dependencies, you can look up on `package.json` file
or on the [dependencies graph](https://github.com/divanov11/Mumble/network/dependencies)  https://github.com/divanov11/Mumble/network/dependencies

[2021-04-01 21:24] #14 closed

[2021-04-01 22:33] #86 closed

[2021-04-01 22:39] Mr-spShuvo commented on #51
a `.gitignore` file has been added on `frontend` dir

[2021-04-01 22:39] #51 closed

[2021-04-01 22:58] #18 closed

[2021-04-01 23:37] Mr-spShuvo commented on #60
Improved!

[2021-04-01 23:37] #60 closed

[2021-04-01 23:38] Mr-spShuvo commented on #49
fixed!

[2021-04-01 23:38] #49 closed

[2021-04-01 23:43] codyseibert commented on #70
I'm not sure what you mean by this issue.  Could you please elaborate by providing an example code snippet to describe what you mean?

[2021-04-01 23:44] codyseibert commented on #44
Having the outline is good for accessibility when the component is focused.  I don't think this should be adressed

[2021-04-01 23:45] #44 closed

[2021-04-01 23:46] codyseibert commented on #36
I think @divanov11 created this already here: https://github.com/divanov11/Mumble/blob/master/frontend/src/Components/Header.js

[2021-04-01 23:50] #36 closed

[2021-04-01 23:50] codyseibert commented on #34
Some work was done on this with #59

[2021-04-02 02:50] Mr-spShuvo commented on #9
@divanov11 It's up to you.

[2021-04-02 03:19] mani-barathi commented on #75
Close this issue since it resolved from PR #83

[2021-04-02 04:17] codyseibert commented on #34
@divanov11 is already working on this / almost finished with it

[2021-04-02 04:17] #34 closed

[2021-04-02 04:27] bharathjinka09 commented on #75
ok. Thanks

[2021-04-02 04:28] #75 closed

[2021-04-02 04:29] bharathjinka09 commented on #58
I am closing this issue. Thanks

[2021-04-02 04:29] #58 closed

[2021-04-02 04:37] #48 closed

[2021-04-02 04:42] bharathjinka09 opened #93 "Notification bell in the nav bar should be a cursor pointer with hand"

[2021-04-02 04:44] codyseibert commented on #55
@divanov11 is already working on this feature.

[2021-04-02 04:45] #55 closed

[2021-04-02 04:46] codyseibert commented on #93
@divanov11 might already be working on this

[2021-04-02 04:51] codyseibert opened #94 "Setup Cypress"
- Write a single cypress test to verify the login page can be viewed
- create npm script for running cypress tests

[2021-04-02 05:06] bharathjinka09 commented on #93
ok. Shall i close this issue

[2021-04-02 05:40] bharathjinka09 opened #95 "Typo in About section of GitHub. built for "develpers""
built for develpers. It should be developers

[2021-04-02 05:41] codyseibert commented on #95
@bharathjinka09 could you make a pr to fix this typo plz?

[2021-04-02 06:07] divanov11 commented on #9
Will add it once we get a version up

[2021-04-02 06:08] divanov11 commented on #21
Yea I think we can put this on hold for now. We’ll end up having to redo a lot if we implement it before the core design

[2021-04-02 06:09] divanov11 commented on #35
I’m working on the design now

[2021-04-02 06:18] agentraghav opened #96 "Improving folder structure and adding react component test files"
-  react component test files are not there, we can add test files to test react components by running `npm test`
- improve folder structure, like keeping every component in a separate folder with their corresponding test files.

[2021-04-02 06:19] Mr-spShuvo commented on #96
Any principals and style guides you want us to follow or it's just a suggestion? @agentraghav

[2021-04-02 06:21] Mr-spShuvo commented on #95
It's on the about section, How can he do a PR? lol
@divanov11 , would you mind fix this?

[2021-04-02 06:22] abisalde commented on #35
That's great! @divanov11

I will be looking forward to turn the design into code.

[2021-04-02 06:30] agentraghav commented on #96
it's a suggestion and yaa there are few rules that must be followed or it will be good for contributors if they are followed like
- Every component should be in a separate folder with the corresponding testing file.
- It is good to keep the styling file of that component in that folder instead of creating a separate styles folder.
-  file naming should be in lower case, use a (-) dash or underscor

[2021-04-02 06:31] agentraghav commented on #96
@Mr-spShuvo  I can raise a PR with improved folder structure and including test files, if you find that useful, you can merge that

[2021-04-02 06:36] Mr-spShuvo commented on #96
Thanks for your personal suggestions, but we are not looking for any changes to current directory structures. As there are no hard and fast rules, and everybody prefers different working tree, we just want to stick to the current folders and files structures. May be in future we can change that, but currently our main focus is releasing the MVP asap.

[2021-04-02 06:36] #96 closed

[2021-04-02 06:38] agentraghav commented on #96
okay

[2021-04-02 06:41] codyseibert commented on #35
@divanov11 says he plans to work on the design and implement it

[2021-04-02 06:41] #35 closed

[2021-04-02 07:34] codyseibert commented on #95
@Mr-spShuvo ohh my bad! yeah Dennis would have to fix it. Ignore me!

[2021-04-02 09:50] mani-barathi opened #99 "Reducing size of the avatar in Comments section of the Posts"
I Think the size of the avatar in Comments is equal when compared to the avatar of the Post itself. Should we reduce the size of it from 'md' to 'sm', because right now its kinda confusing whether it is a Post or a Comment

**Befor**
![image](https://user-images.githubusercontent.com/49336839/113404698-32cc7580-93c6-11eb-8966-092ddbc5004f.png)

**After**
![image](https://user-images.githubusercont

[2021-04-02 10:16] Mr-spShuvo commented on #99
This issue have be resolve with [this commit](https://github.com/divanov11/Mumble/commit/e0ac8bff12af50b663fc312e7aaeac4091af1339)

[2021-04-02 10:16] #99 closed

[2021-04-02 12:32] jewells07 commented on #70
**Before**
[code]

**After**
[code]
**Example** : Common components will in (Hoc), Layouts can have Navbar, Header, Alert, etc... and put into (Hoc). So it will be clean code.

[2021-04-02 14:21] abhivemp commented on #22
Think we can close this issue?

[2021-04-02 17:29] codyseibert commented on #70
I personally don't see the issue with having <Header /> being above the switch.  The current code doesn't seem unclean to me, but I'll let others weigh in on this issue.  We could also just move the <Switch> into a new component called <Content> and import it here if that helps?

[2021-04-02 17:52] Vyvy-vi commented on #22
Hmm, it can be closed.
btw @abhivemp GitHub automatically closes issues when associated PRs are merged, if you add-
`closes #<issue-number>` in the pull request message, or in a commit message description

Either of these, followed by an issue-number mention works:
`closes, fixes, resolves`

[2021-04-02 17:57] Vyvy-vi commented on #22
*Oh wait a min.
The PR has an issue-
The issue templates should be in a folder titled`ISSUE_TEMPLATE` inside `.github`, instead of `ISSUE_TEMPLATES`, for GitHub to pick those up and render them when someone opens an issue.

[2021-04-02 18:10] abhivemp commented on #22
yea that was me. I am actually drafting another PR. I am going to fix it now.

[2021-04-02 18:21] #22 closed

[2021-04-02 18:52] jewells07 commented on #70
When this app getting larger, we will have 'check authenticated' , 'load user' etc with redux that time this will very helpful.

[2021-04-03 07:56] bharathjinka09 opened #114 "Header navbar is not responsive in mobile"
Hi all,

Navbar is not responsive in mobile.
I am attaching the screenshot.
If it is a drop-down navbar for smaller size screens, then it will look good.

![Screenshot_2021-04-03-13-22-25-329_com android chrome](https://user-images.githubusercontent.com/33654188/113472324-15f47880-9480-11eb-957b-5bb44ed41ccf.jpg)

Thanks 👍

[2021-04-03 12:46] MidouWebDev commented on #114
I will do my best to work on it for sure !

[2021-04-03 13:13] mani-barathi opened #116 "SearchBox in Header has alignment issues"
Input and the icon inside the SearchBox has some alignment issue

[2021-04-03 14:26] Mr-spShuvo commented on #116
Can you attached a preview of your issue on your side before the changes you have made. @mani-barathi

[2021-04-03 14:31] #93 closed

[2021-04-03 14:52] mani-barathi commented on #116
@Mr-spShuvo I Have attached before and after preview in PR #117 , check that.
Previously in css we have used absolute and relative position to get the icon and input field stick together, now I figured out there was a better way in doing that without css position

[2021-04-03 15:35] #116 closed

[2021-04-03 16:50] bharathjinka09 opened #118 "Search by People is not responsive"
Search by People is not responsive.
 I am attaching the screenshot.
If the card size is reduced, then it will look good.

![Screenshot_2021-04-03-22-15-15-168_com android chrome](https://user-images.githubusercontent.com/33654188/113485363-b4a5c700-94ca-11eb-8373-20f65acdce84.jpg)
Thanks 👍

[2021-04-03 16:50] #114 closed

[2021-04-03 16:51] bharathjinka09 commented on #114
It's working fine 😀

[2021-04-03 17:27] felixfaisal opened #119 "Deploy Previews - Netlify"
**Is your feature request related to a problem? Please describe.**
I remember in Denis's stream, Him mentioning that in many PRs that frontend seems to be altered or something he didn't want to be added or changed.
It would be a tedious procedure to go through the entire code to know if something in the frontend has changed and how it affects the overall application

**Describe the solution you'd

[2021-04-03 18:28] mani-barathi opened #120 "Bug in Header Dropdowns"
**Bug in Header**
when the notification drop down is active and if the user click on the avatar dropdown, notification drop down is not closing as well as the avatar dropdown is not opening

**To Reproduce**
Steps to reproduce the behaviour:

1. Click the bell icon in header (notification dropdown opens)
2. Now leaving the notification drop down open, click on the avatar

**Expected behaviour**
no

[2021-04-03 19:50] divanov11 commented on #120
Just noticed this. If you want to take this section. If you want to take care of this its all yours :)

[2021-04-03 19:51] #120 closed

[2021-04-03 20:01] mohammad4kh opened #122 "Bug in updating user skills modal"
**Describe the bug**

There is a bug when edit the skills then press update without adding or removing any thing

**To Reproduce**

Steps to reproduce the behavior:

1. Go to user settings page
2. In skills section click on edit
3. Without adding or removing any skill press update
4. An error will show up

![Peek 2021-04-03 21-55](https://user-images.githubusercontent.com/6501582/113490044-0a2ca48

[2021-04-03 20:53] gmrzone commented on #122
Fixing it now..

[2021-04-03 21:58] #122 closed

[2021-04-04 00:44] codyseibert opened #125 "Create Discussion Component / Route"
There currently is no page for creating a new discussion.  We have a link called "Start a Discussion", but it doesn't navigate the user to any usable page.  This feature would include the following work:

- create a new page/route for people to create a discussion
- a user shall be able to type into a text area and click on a submit button
- after clicking the submit button, it should redirect the

[2021-04-04 00:50] codyseibert opened #126 "Create Article Page"
There currently is no page for creating a new article.  We have a link called "Write a post", but it doesn't navigate the user to any usable page.  This feature would include the following work:

- create a new page/route for people to create a article
- a user shall be able to type into a text area and click on a submit button
- after clicking the submit button, it should redirect them to a artic

[2021-04-04 00:54] codyseibert opened #127 "More Topics Link"
Clicking this link should probably redirect the user to the /search page with the interests side nav already selected

![Screen Shot 2021-04-03 at 8 53 30 PM](https://user-images.githubusercontent.com/1868782/113495295-a651ae00-94be-11eb-9c60-2b703e00c13e.png)

- when clicking the link, redirect the user to the search page
- the topics in the side nav should be selected on route load

[2021-04-04 00:58] codyseibert opened #128 "Notifications Page"
We have a link for All Notifications, but the page is empty.  We should probably have some basic list of placeholder notifications displayed on that page.

![Screen Shot 2021-04-03 at 8 55 38 PM](https://user-images.githubusercontent.com/1868782/113495328-f3358480-94be-11eb-8386-e48913666747.png)

[2021-04-04 01:01] codyseibert opened #129 "Expand Skill Button"
Clicking this button should probably show all skills the user has on their profile.  The idea for this issue is to limit the number of skills displayed (max of 5) and the. Expand to display the rest if a user clicks on the button.

![Screen Shot 2021-04-03 at 8 59 55 PM](https://user-images.githubusercontent.com/1868782/113495416-8d95c800-94bf-11eb-9208-a2b96c180dd4.png)

- limit the number of ski

[2021-04-04 01:04] codyseibert opened #130 "Toggle Discussion Button"
The discussion threads button doesn't do anything, but it should probably toggle (hide / show) the threads displayed below.

![Screen Shot 2021-04-03 at 9 02 28 PM](https://user-images.githubusercontent.com/1868782/113495454-e82f2400-94bf-11eb-875c-02005bbdb5fb.png)

[2021-04-04 01:05] codyseibert opened #131 "Toggle Comment Button"
The comment button should probably hide / show a comment textarea & button near the comment you are trying to reply to,

![Screen Shot 2021-04-03 at 9 04 36 PM](https://user-images.githubusercontent.com/1868782/113495499-35ab9100-94c0-11eb-855d-391ef5a5e27a.png)

[2021-04-04 01:31] codyseibert opened #132 "Github Actions should fail on unformatted code PRs"
People are still easily able to commit unformatted code.  I suggest we make the build fail if the CI/CD pipeline finds unformatted code in the PR.

This was also a recommendation from @eddiejaoude to help improve our review process.

[2021-04-04 01:36] ceelo777 commented on #126
I'm interested in taking this issue!

[2021-04-04 01:36] eddiejaoude opened #133 "There is a package lock and a yarn lock?"
**Preflight Checklist**

* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

**Describe the bug**

Multiple lock files does not seem right

**To Reproduce**

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

A clear and concise description of what you expected to

[2021-04-04 01:39] codyseibert commented on #133
I think we don't have any hard requirements for is someone can use yarn or npm to install deps.  Do you think there is an issue having both @eddiejaoude ?

[2021-04-04 01:41] codyseibert commented on #126
@ceelo777 sounds good, remember to keep the page as basic as possible because it will more than likely be redesigned  away when Dennis finishes the API.  I'll checkback in a day or two to see if progress has been made.  Please remember to let us know if you decide to not work on this so I can't let someone else work on it!

Thanks for your help!

[2021-04-04 01:46] eddiejaoude commented on #133
Yep, unfortunately having both, they will get out of sync and cause weird issues. I would pick style and have everyone use that 🤓

[2021-04-04 01:51] eddiejaoude commented on #132
Using Husky is convenient, it allows people to be aware of an issues before committing (using `pre-commit` hook), however, this can be skipped/bypassed, so a GitHub Action (CI) to check this independently is still required. I highly recommend 👍

Having automation check for smaller mistakes, allows the conversation of a PR to focus more on the important items 🤓

[2021-04-04 02:54] codyseibert commented on #119
Thanks for posting the issue. This sounds like a cool idea!

[2021-04-04 03:03] codyseibert commented on #129
we may need to ask @divanov11 what the intent of this button was in the first place.  Should it show more of those tags before, or does it expand to show more or something else?

[2021-04-04 03:10] mani-barathi commented on #131
I'll take this one

[2021-04-04 03:13] Mr-spShuvo commented on #133
Agree with @eddiejaoude. Even yarn complains about it. Will add `yarn.lock` into `.gitignore`

[2021-04-04 03:23] codyseibert commented on #130
grabbing this one

[2021-04-04 03:31] mani-barathi commented on #131
I'll move Post to its own component, right now Post related code is present directly in Feed and if I continue with that structure it will become a mess in future

[2021-04-04 03:44] mani-barathi commented on #131
Is it not required right Now ? @divanov11 @codyseibert

[2021-04-04 03:47] Mr-spShuvo commented on #133
Resolved with [this commit](https://github.com/divanov11/Mumble/commit/e5cfa12e6a3b59cfbd12f9dc10c3ac185003c843)

[2021-04-04 03:47] #133 closed

[2021-04-04 03:56] codyseibert commented on #131
@mani-barathi I'll have to ask, maybe Dennis didn't want a textarea to pop up when you click comment

[2021-04-04 03:59] mani-barathi commented on #131
@codyseibert okie 👍

[2021-04-04 04:16] codyseibert commented on #131
@mani-barathi we accidently closed the wrong issue, so you should be good to work on this one.  Sorry about that!

[2021-04-04 04:17] #130 closed

[2021-04-04 04:17] codyseibert commented on #131
@mani-barathi be sure to pull master because I think I just changed that Feed component a bit

[2021-04-04 04:19] mani-barathi commented on #131
@codyseibert okie!, I'll start on this one

[2021-04-04 04:44] codyseibert commented on #132
I'm going to see if I can grab this one

[2021-04-04 05:09] mani-barathi commented on #131
Is this okie? @codyseibert

![image](https://user-images.githubusercontent.com/49336839/113499237-e4d48080-9531-11eb-9f9e-ff6171fdf7f1.png)

[2021-04-04 05:18] codyseibert commented on #131
@mani-barathi looks fine to me!  good job!

[2021-04-04 05:55] #131 closed

[2021-04-04 06:23] mani-barathi commented on #125
@codyseibert I'll work on this

[2021-04-04 07:16] divanov11 opened #138 "Nested comment thread needed"
At this point posts only display comments directed at the original post, we need to add in nested comments so threads/discussions can be viewable. At this point there is no way to expand reply's to comments within a post.

I added some extra data to src/data/posts.js to represent what nested comments may look like in an API calls.

[2021-04-04 07:38] Vyvy-vi commented on #132
I think #135 closes this issue

[2021-04-04 07:47] bharathjinka09 opened #139 "Mumble Vercel deployed app is showing 404 page"
Mumble Vercel deployed app is showing 404 page. Please check.
I am attaching the screenshot.

https://mumble.vercel.app

![Screenshot_2021-04-04-13-15-26-720_com android chrome](https://user-images.githubusercontent.com/33654188/113502150-0d677500-9548-11eb-8985-0ae005f679f7.jpg)

Thanks 👍

[2021-04-04 07:48] #139 closed

[2021-04-04 07:55] bharathjinka09 opened #140 "Upvote and Downvote buttons are not increasing and decreasing the count"
Upvote and Downvote buttons are not increasing and decreasing the count.

On clicking upvote, it should increase by 1
On clicking downvote, it should decrease by 1.

Thanks 👍

[2021-04-04 07:58] divanov11 commented on #140
This functionality will be added when we are calling real data from the API :)

[2021-04-04 08:02] felixfaisal commented on #119
I think this has been added using Vercel, We can close this issue :)

[2021-04-04 09:51] itzomen opened #143 "TypeError: Cannot read property 'skills' of undefined"
**Preflight Checklist**

* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

**Describe the bug**

When clicked on the notification dropdown " Started following you ", it outputs the error "TypeError: Cannot read property 'skills' of undefined"

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'Home'
2. Click on 'Notofication'
3.

[2021-04-04 09:59] itzomen opened #144 "Settings page not well styled"
**Preflight Checklist**

* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

**Describe the bug**

The settings page is not styled as it is supposed to be

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'Home'
2. Click on Profile 'Dropdown'
3. And Select 'Settings'

**Screenshots**
![settings](https://user-images.githubuserconte

[2021-04-04 10:01] itzomen commented on #128
I want to be assigned to the task.
I'm getting started

[2021-04-04 10:07] MidouWebDev opened #145 "There is no space between the icon and the name in the dropdown menu"
In the dropdown menu we have icons + name directly without any space which makes it look bad !

![Screenshot_20210404-110416_Samsung Internet](https://user-images.githubusercontent.com/72341453/113505317-dd16db00-9535-11eb-8419-2c3dda2d559a.jpg)

[2021-04-04 10:26] #140 closed

[2021-04-04 10:40] Mr-spShuvo commented on #143
Resolved with [this commit](https://github.com/divanov11/Mumble/commit/dddcbd4879dca39e8bc4e7d7ede9bbefd19d492c)

[2021-04-04 10:41] #143 closed

[2021-04-04 10:41] #132 closed

[2021-04-04 10:42] Mr-spShuvo commented on #9
added.

[2021-04-04 10:42] #9 closed

[2021-04-04 10:42] #70 closed

[2021-04-04 10:43] Mr-spShuvo commented on #119
We are using vercel.

[2021-04-04 10:43] #119 closed

[2021-04-04 11:02] ujjawal-shrivastava opened #146 "FIX: Change the Live Demo URL in README"
The Live Demo URL in README needs to be changed to : https://mumble.vercel.app/ as the older one will change after each new commit!

[2021-04-04 11:06] itzomen commented on #143
Alright great

[2021-04-04 15:58] codyseibert commented on #144
@itzomen how is it supposed to be styled?  Is there a design screenshot?

[2021-04-04 16:05] codyseibert commented on #146
addressed in #147, closing

[2021-04-04 16:05] #146 closed

[2021-04-04 16:43] itzomen commented on #144
![Screenshot from 2021-04-04 17-41-26](https://user-images.githubusercontent.com/61752841/113515548-128aeb00-956d-11eb-8e84-9d21c939e700.png)
The two components/containers should be contained as seen in the Profile page

[2021-04-04 17:04] divanov11 commented on #144
I think I’m actually fine with how it is now ;)

[2021-04-04 17:33] #125 closed

[2021-04-04 18:13] #128 closed

[2021-04-04 18:18] codyseibert commented on #145
This seems like it was fixed at some point.

![Screen Shot 2021-04-04 at 2 18 19 PM](https://user-images.githubusercontent.com/1868782/113517878-9e424e80-9550-11eb-822e-5ee39fa33238.png)

[2021-04-04 18:19] #145 closed

[2021-04-04 18:20] codyseibert commented on #144
@itzomen hey thanks for making this issue, but since @divanov11 says he is ok with the current styling, I'm going to go ahead and close this issue.

[2021-04-04 18:20] #144 closed

[2021-04-04 18:24] MidouWebDev commented on #145
@codyseibert thanks i have just noticed that and was going to close it

[2021-04-04 18:30] codyseibert commented on #138
grabbing this

[2021-04-04 19:01] #138 closed

[2021-04-04 19:05] MidouWebDev commented on #95
@divanov11 i mentionned the typo it has been a week i guess and the mistake is still here 😂
![image](https://user-images.githubusercontent.com/72341453/113518908-1294e600-9581-11eb-970b-ba5cc008d427.png)

[2021-04-04 21:32] #126 closed

[2021-04-04 21:59] codyseibert commented on #129
I talked to Dennis and he gave direction for what this issue should implement for now.  I'll update the description.

[2021-04-04 23:34] #129 closed

[2021-04-05 00:32] #127 closed

[2021-04-05 02:05] Mr-spShuvo commented on #21
I will work on this.

[2021-04-05 04:32] codyseibert commented on #81
I'm going to close this since the author has not clarified what they mean by not using es6.  The code seems fine to me.

[2021-04-05 04:32] #81 closed

[2021-04-05 04:35] Mr-spShuvo commented on #21
Added with [this commit](https://github.com/divanov11/Mumble/commit/3266f955c854db5098e57ebb09298c8f8608b73b)

[2021-04-05 04:35] #21 closed

[2021-04-05 04:37] #94 closed

[2021-04-05 05:06] codyseibert opened #155 "Text Contrast failing Accessibility Contrast Checks"
There are a lot of places in the application where the contrast is failing accessibility checks which means it can be hard for people with poor eye sight to use the application.  You can check using lighthouse in the browser, or I like to user this snippet sometimes as a bookmark to run https://squizlabs.github.io/HTML_CodeSniffer/.  This issue involves fixing all accessibility issues, but more im

[2021-04-05 05:19] Mr-spShuvo commented on #155
Yeah, right. I would run through test eventually, this just for covering the css variables throughout whole project.

[2021-04-05 05:24] codyseibert opened #156 "Upvote Number missing on Discussion Page"
Something must have went wrong at some point, because there is no upvote number on the discussion page as you can see in the screenshot.

![Screen Shot 2021-04-05 at 1 23 14 AM](https://user-images.githubusercontent.com/1868782/113540160-80ef9d80-95ad-11eb-8961-e91a0f7d84ba.png)

[2021-04-05 06:25] mani-barathi commented on #156
I'll fix it

[2021-04-05 06:50] jewells07 opened #159 "Private Route"
Creating a Private Route utilities to Redirect the **`Unauthenticated`** Users to Login Page.

[2021-04-05 12:27] bharathjinka09 opened #161 "Text in the search bar and Search by options are not visible in dark mode"
**Describe the bug**

Text in the search bar and Search by options are not visible in dark mode
In Search by options right side, the options are not visible in dark mode

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'Search bar and type, then the text won't visible'
1. It is in a dark color. It should be in white or any lighter color.

**Screenshots**

![Screenshot from 2021-04-05

[2021-04-05 12:48] #156 closed

[2021-04-05 12:55] codyseibert commented on #161
Nice catch! Thanks for adding this issue

[2021-04-05 14:08] MidouWebDev opened #162 "There is no space between the icon and the name in the dropdown menu (mobile view)"
![Screenshot_20210405-150638_Samsung Internet.jpg](https://user-images.githubusercontent.com/72341453/113582768-b2558100-9620-11eb-9307-8b9cbb7dee13.jpg)

[2021-04-05 14:38] MidouWebDev opened #163 "Dark Mode not enabled in the third column"
As you can see in the screenshot, the third column doesn't have the same background color as the first and second one.
The third column should have the same bg color in the dark mode :

![image](https://user-images.githubusercontent.com/72341453/113586012-e16df180-9624-11eb-874f-c7cabf045c64.png)

[2021-04-05 17:49] Hrithik5 commented on #162
This issue is solved right! we should close this issue?

[2021-04-05 18:23] codyseibert commented on #162
@Hrithik5 this is still an issue on iPhone chrome mobile

[2021-04-05 18:34] Mr-spShuvo commented on #155
Resolve with [this commit ](https://github.com/divanov11/Mumble/commit/9f898654ac41bc037cc4a0c429e86ed0fbc013bf)

[2021-04-05 18:34] #155 closed

[2021-04-05 18:34] Mr-spShuvo commented on #161
Resolve with [this commit ](https://github.com/divanov11/Mumble/commit/9f898654ac41bc037cc4a0c429e86ed0fbc013bf)

[2021-04-05 18:34] #161 closed

[2021-04-05 18:34] Mr-spShuvo commented on #163
Resolve with [this commit ](https://github.com/divanov11/Mumble/commit/9f898654ac41bc037cc4a0c429e86ed0fbc013bf)

[2021-04-05 18:34] #163 closed

[2021-04-05 19:59] TysonThurman commented on #162
I would like to work on this fix if possible.

[2021-04-05 20:29] TysonThurman commented on #162
I submitted the PR above to resolve the issue with the spacing. This is my first one but I don't think I missed anything while following the contribution guidelines. Please let me know if I did.

[2021-04-05 20:51] MidouWebDev commented on #162
Great work tyson !

[2021-04-05 20:51] #162 closed

[2021-04-05 21:09] divanov11 commented on #118
Fixed :)

[2021-04-05 21:09] #118 closed

[2021-04-05 23:14] #95 closed

[2021-04-06 03:00] bharathjinka09 opened #172 "On clicking the upvote and downvote buttons, red and green colour is not appearing"
On hovering or clicking the upvote and downvote buttons, red and green colour is not appearing respectively.

Thanks 👍

[2021-04-06 07:30] bharathjinka09 commented on #172
Thanks 👍

[2021-04-06 07:30] #172 closed

[2021-04-06 20:17] MidouWebDev opened #180 "There is no space between the icon and the name in the notifications dropdown menu"
![Screenshot_20210406-211358_Samsung Internet](https://user-images.githubusercontent.com/72341453/113773058-676d6380-971d-11eb-8f26-2fb7aac6b05c.jpg)

[2021-04-07 02:36] mani-barathi commented on #180
I think this issue has been fixed.  check the changes and close the issue.

[2021-04-07 02:42] TysonThurman commented on #180
I do still see the issue on iPhone

[2021-04-07 06:43] MidouWebDev commented on #180
@mani-barathi try it on a mobile device

[2021-04-07 07:16] Rashik4567 commented on #180
@MidouWebDev  its fixed...
![image](https://user-images.githubusercontent.com/58215479/113826018-7d256c00-97a3-11eb-8f56-b582937d3f58.png)

[2021-04-07 07:17] Rashik4567 commented on #180
in iphone x

[2021-04-07 07:50] mani-barathi commented on #180
Everything seems fine on my devices.

[2021-04-07 10:10] mhhabib opened #186 "There is no padding in setting page"
Like another profile page, the setting page also should have padding on both sides.

### It's okey
![2](https://user-images.githubusercontent.com/17263976/113849770-9df9bb80-97bb-11eb-809f-bcd5437cdfb7.PNG)

### Should be like above
![Capture](https://user-images.githubusercontent.com/17263976/113849678-90dccc80-97bb-11eb-9f52-3655378b09b7.PNG)

[2021-04-07 12:52] MidouWebDev commented on #180
Still not fixed in an android device !

[2021-04-07 18:46] MidouWebDev opened #191 "The "Follow" Button doesn't have the same position"
The "Follow" Button doesn't have the same position !!

![image](https://user-images.githubusercontent.com/72341453/113918032-da3c1480-97d9-11eb-8082-2a4394d0d23a.png)

[2021-04-08 03:47] divanov11 opened #196 "User interests quick search"
When user is on their home feed they should be able to simply click a tag and automatically be take to the search page with the form pre-filled, pulling up any post, article or user that contains that particular keyword.

I will take care of this functionality. Just need to update the API a bit to handle this..

![image](https://user-images.githubusercontent.com/33843378/113965510-5cc8d200-97e2-11

[2021-04-08 03:53] divanov11 commented on #196
Thank you @codyseibert , I'm such a noob sometimes lol

[2021-04-08 05:59] mani-barathi commented on #191
I'll fix this

[2021-04-08 08:23] bharathjinka09 opened #199 "In profile page after clicking comment it is going to home page"
On the profile page, after clicking the comment it is going to the home page.

Actual behavior is, it should display a comment box to comment.

Thanks

[2021-04-08 09:10] #186 closed

[2021-04-08 15:23] BrundaBR commented on #199
@bharathjinka09  i am working on it ,Thank you

[2021-04-08 15:27] hamzalak commented on #199
https://github.com/divanov11/Mumble/pull/205

[2021-04-08 15:34] BrundaBR commented on #199
@hamzalak  is it done?

[2021-04-08 15:52] hamzalak commented on #199
@BrundaBR

[2021-04-08 17:07] bharathjinka09 commented on #199
👍

[2021-04-08 17:07] #199 closed

[2021-04-08 17:08] #159 closed

[2021-04-08 17:10] MidouWebDev commented on #191
@codyseibert @Mr-spShuvo
There is a PR created by @mani-barathi that solves this issue
Please check it !

[2021-04-09 04:31] #191 closed

[2021-04-09 13:10] codyseibert opened #213 "Refactor Theme Selector into Redux"
Right now the theme selector (dark / light mode) is toggled using a top-level state variable inside App.js and prop drilling.  Instead, we should refactor this to be in redux state with an action / reducer.  Follow the current pattern we use for redux to get the theme toggler into redux.

![Screen Shot 2021-04-09 at 9 08 52 AM](https://user-images.githubusercontent.com/1868782/114185001-348cc080-9

[2021-04-09 13:13] codyseibert opened #214 "Adding Placeholder Logout Button Functionality"
Clicking on the logout button should probably fire a redux action / reducer so that we can clear the stored user information in the future and redirect the user to the login page.  This work involves making some redux actions which can be dispatched when clicking the logout button to redirect the user to the login page.

![Screen Shot 2021-04-09 at 9 12 42 AM](https://user-images.githubusercontent

[2021-04-09 13:15] codyseibert opened #215 "wysiwyg MARK DOWN editor for create article page"
The create articles page should probably use a wysiwyg markdown editor instead of a textarea so that users can have beautifully formatted articles for others to read.  Find a well know markdown react editor, import it into the project, and use it on this page.

![Screen Shot 2021-04-09 at 9 14 31 AM](https://user-images.githubusercontent.com/1868782/114185691-ff34a280-9913-
11eb-81f3-00ea833f6030.

[2021-04-09 13:17] codyseibert opened #216 "Fixing Console Warnings / Errors"
Navigate through as many pages as you can and fix any console errors / warnings that are printing out

![Screen Shot 2021-04-09 at 9 16 14 AM](https://user-images.githubusercontent.com/1868782/114185906-3efb8a00-9914-11eb-99a7-6f33c583c3d3.png)

[2021-04-09 13:20] codyseibert opened #217 "Fixing Odd Avatar Notification Loading"
When loading the application for the first time (and on a slower network), the avatars in the notification dropdown are oval-shaped until the image finishes loading.  See attached gif:

![Apr-09-2021 09-19-08](https://user-images.githubusercontent.com/1868782/114186388-c648fd80-9914-11eb-8a1d-0035fc3c36b7.gif)

You may need to throttle your network after loading the page to get this to reproduce d

[2021-04-09 13:24] codyseibert opened #218 "Hovering over some links don't change any styles"
When hovering over the discussions panels links (and probably other places in the app), there is no underline or any change in link color.  It is harder for a user to know this is a link without also adding another form of feedback other than a pointer cursor.

Look through the app and find any buttons or links that are clickable but don't change styles and fix.

![Apr-09-2021 09-23-02](https://us

[2021-04-09 19:13] itzomen commented on #217
Is that not normal behaviour when loading media?
Or what is a possible approach to fix that because I will like to fix that.

[2021-04-09 20:00] codyseibert commented on #217
@itzomen I think it could be fixed with a fixed width height avatar.  I'm not sure what's going on here, but I'll assign it to you!

[2021-04-10 03:47] codyseibert opened #220 "Fix CSS to be BEM"
A lot of the CSS isn't proper BEM from what I could tell.  This issue is to run through all our css and verify we follow BEM.

[2021-04-10 12:37] mani-barathi commented on #214
I'll take this one

[2021-04-10 14:20] itzomen commented on #220
Sounds good to me 😃

[2021-04-10 14:40] #213 closed

[2021-04-10 14:59] codyseibert commented on #217
@itzomen i noticed the space between the avatar and the text is gone now, did you want to try and fix that?

[2021-04-10 16:20] #214 closed

[2021-04-10 17:26] MidouWebDev opened #230 "Text doesn't appear in Dark Mode (create-article)"
In the light mode, everything is okay : we can see the text that we are typing
---> Preview :
![20210410_182055](https://user-images.githubusercontent.com/72341453/114278953-ff26c680-9a29-11eb-9829-6ba4d3d73740.jpg)

But in the dark mode, we can't see the text that we are typing until we select it !
---> Preview without selecting the text :
![20210410_182840](https://user-images.githubusercontent.

[2021-04-10 17:34] itzomen commented on #217
Oh I see, yeah I will fix that
![notif](https://user-images.githubusercontent.com/61752841/114279087-bf141380-9a2a-11eb-9104-768dc3f9a9c2.png)

Also thought of reducing the font size so the notification title fit in two lines as shown on the attached pic

[2021-04-10 18:53] MidouWebDev opened #232 "Results are shown after a "No results found" msg"
when clicking on view more i have an error msg : NO RESULTS FOUND
then the results are shown
Here is a gif :

![screen-capture](https://user-images.githubusercontent.com/72341453/114281368-ec19f380-9a35-11eb-9b74-614505cf486a.gif)

[2021-04-10 19:22] codyseibert commented on #217
Yeah that's probably fine

[2021-04-10 19:23] codyseibert commented on #232
I think we need to add some placeholder elements while it tries to fetch the posts.  This is due to the network request taking some time.

[2021-04-10 19:31] codyseibert commented on #230
Nice find!

[2021-04-10 20:22] #215 closed

[2021-04-10 20:27] Ledaryy opened #236 "Animation"
Can I add some animation to the "theme changing button"

Can implement this with CSS

It will be the same as GitHub when you click on the button and Cat appear and lights flashing.

[2021-04-10 21:37] MidouWebDev opened #237 "Dark mode not working in the signin/signup page"
![Screenshot_20210410-223445_Samsung Internet](https://user-images.githubusercontent.com/72341453/114285210-525e4080-9a4d-11eb-8590-5a700125dadb.jpg)

[2021-04-10 22:01] #230 closed

[2021-04-10 23:23] codyseibert commented on #236
Want to share a screenshot of what you mean?

[2021-04-11 12:34] bharathjinka09 opened #241 "Create Article description textarea should be a required field"
Hi all,

- Create Article description textarea should be a required field.

- Without text inside the textbox, it should not submit. Otherwise empty articles will get submitted.

[Screenshot]

![Screenshot from 2021-04-12 15-29-09](https://user-images.githubusercontent.com/33654188/114377232-0a9dfd00-9ba4-11eb-9a48-ce84cfc7cd8e.png)

Thanks

[2021-04-11 13:35] itzomen commented on #220
@codyseibert I have gone through the CSS files and seems good to me

[2021-04-12 04:16] codyseibert commented on #220
Ok let me double check.  Did you paste them into a BEM validation site such as https://torleif.nz/bem/ ?

[2021-04-12 21:20] codyseibert commented on #220
![Screen Shot 2021-04-12 at 5 19 54 PM](https://user-images.githubusercontent.com/1868782/114464107-4db39c80-9bb3-11eb-8db2-fd429b412bb7.png)

there are tons of BEM validation errors in all the CSS.  Take any css file and put it into an online BEM validator and it'll show the errors.

[2021-04-13 03:46] mani-barathi commented on #232
I'll do this

[2021-04-13 07:12] itzomen commented on #220
Yeah, i noticed.. thanks for the feedback.
I will be fixing that asap.

[2021-04-13 14:08] mhhabib opened #254 "Not Found page"
Want to work on **search mumble** not found page

[2021-04-13 14:10] MidouWebDev commented on #254
The 404 page ?
I also wanna work on it
I have imagined a 404 page for mumble !

[2021-04-13 14:16] mhhabib commented on #254
@MidouWebDev kind of 404 pages. Currently searching a mumble shows a simple **No Results found..**. Can be designed a better page

[2021-04-13 15:49] #232 closed

[2021-04-13 17:01] MidouWebDev commented on #254
@mhhabib DM me on Discord, i am the server admin (Mehdi <MidouWebDev/> #9105)

[2021-04-13 18:15] divanov11 opened #255 "Delete post tool tip"
We need a tool tip that pops up so users can delete and edit their posts. For now if someone wants to create the layout and pop up , I will add in the functionality to the API.
![tooltip](https://user-images.githubusercontent.com/33843378/114600749-4d221100-9c5a-11eb-9c35-223a34815d82.PNG)

[2021-04-13 21:19] itzomen commented on #220
Oh, My My, I tried fixing the CSS to BEM but almost all the CSS files have issues and I'm not really comfortable with frontend.

[2021-04-13 21:20] itzomen commented on #220
Oh, My My, I tried fixing the CSS to BEM but almost all the CSS files have issues and I'm not really comfortable with frontend.

[2021-04-14 20:38] mohammad4kh commented on #255
@divanov11 I tried to make the layout, this what I got so far

this menu will show if the user is not the author of the post
![hide](https://user-images.githubusercontent.com/6501582/114775712-e7c14380-9d71-11eb-9f19-27f8c9efc168.gif)

and this will show to the author of the post
![edit_delete](https://user-images.githubusercontent.com/6501582/114775808-032c4e80-9d72-11eb-9034-3da82add9c55.gif)

W

[2021-04-14 21:57] mohammad4kh commented on #255
Updated version for other users post menu

![image](https://user-images.githubusercontent.com/6501582/114785426-f6f9be80-9d7c-11eb-83f4-72d77539f2b2.png)

[2021-04-14 22:29] divanov11 commented on #255
Looks great!! I will merge in a bit. Just added the re-mumble functionality so I will be testing that before adding user registration.

[2021-04-15 02:40] codyseibert commented on #220
No worries, maybe I can get to this soon

[2021-04-15 04:34] #255 closed

[2021-04-15 04:46] codyseibert commented on #216
fixed

[2021-04-15 04:46] #216 closed

[2021-04-15 04:47] codyseibert commented on #217
I think this is fixed

[2021-04-15 04:47] #217 closed

[2021-04-15 05:53] #241 closed

[2021-04-15 06:48] bharathjinka09 opened #264 "Write Article button is not there in the home page"
Hi all,
**Describe the bug**

Previously write article button was there on the home page. But now it is not there. Is there any reason to remove the button? Please check.

Thanks.

[2021-04-15 06:55] divanov11 commented on #264
I removed it for now. I’ll find another place for it, through the “make a post” section should be a bit more condensed.

[2021-04-15 07:00] bharathjinka09 commented on #264
Yeah. Nice idea

[2021-04-15 07:00] #264 closed

[2021-04-16 10:33] Rashik4567 opened #272 "Internal server error (code 500) on mumble.dev"
**Preflight Checklist**

* [x ] I have searched the issue tracker for an issue that matches the one I want to file, without success.

**Describe the bug**

```Error: Cannot read property 'map' of undefined```
Its an internal server error (code 500) on mumble.dev . the site loads first and then the error occures. But on incognito, it doesn't.

![Annotation 2021-04-16 163101](https://user-images.git

[2021-04-16 11:20] MidouWebDev commented on #272
it is working now i guess

[2021-04-16 14:19] #254 closed

[2021-04-17 07:57] Mr-spShuvo opened #273 "🔴 Why directly manipulate the DOM?"
### Directly manipulate the DOM while using React on FollowButton.js
This is fundamentally wrong.

[code]

[2021-04-17 14:25] #273 closed

[2021-04-18 04:16] pyanishjain opened #285 "profile changes have some delay"
https://www.mumble.dev/profile/dennis and go to https://www.mumble.dev/profile/mrspshuvo there is mill seconds  delay of change in profile pic

[2021-04-18 05:37] codyseibert commented on #272
@Rashik4567 can you check if this is still an issue?  I can't reproduce.

[2021-04-18 06:39] Rashik4567 commented on #272
Ok, this issue is fixed.

[2021-04-18 06:39] #272 closed

[2021-04-18 06:44] Rashik4567 opened #286 "Theme changer in settings is not done properly."
**Preflight Checklist**

* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

**Describe the bug**

The theme changer toggle does not have any title.
![theme](https://user-images.githubusercontent.com/58215479/115136736-98199b00-a043-11eb-84b2-7dc225e071c0.png)

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'mumble.dev'
2. Click

[2021-04-18 17:20] MidouWebDev commented on #237
I fixed the bug !
#291

[2021-04-18 17:22] MidouWebDev commented on #237
it is fixed :

![Screenshot_20210418-171912_Samsung Internet](https://user-images.githubusercontent.com/72341453/115154448-741d8000-a06a-11eb-830b-b75ff264c12a.jpg)

The PR : #291

[2021-04-18 17:22] #237 closed

[2021-04-18 20:54] MidouWebDev commented on #286
Merged

[2021-04-18 20:55] MidouWebDev commented on #285
@pyanishjain there is a typo in the title of your PR

[2021-04-19 03:54] #286 closed

[2021-04-19 16:54] MidouWebDev commented on #236
@codyseibert i think there is an animation for the button
So this issue should be closed

[2021-04-20 01:51] mohammad4kh opened #297 "password field in login/signup page shows plain text"
the password field in login/signup page shows plain text instead of *****

![Screenshot_2021-04-20-03-49-01-11](https://user-images.githubusercontent.com/6501582/115325246-8c38f080-a18b-11eb-9a1f-a2027aab8681.jpg)

[2021-04-20 01:51] #236 closed

[2021-04-20 04:06] mani-barathi commented on #297
I'll fix this

[2021-04-20 04:15] #297 closed

[2021-04-20 06:29] Rashik4567 commented on #218
Please check request #298

[2021-04-20 14:09] MidouWebDev opened #299 "Text not visible in the login page"
**Describe the bug**

The text in dark mode isn't visible

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'mumble.dev/login'
2. Check that you are in DARK MODE
3. Check the color of "A PLACE FOR DEVS"
4. Is it visible ?

**Screenshots**

It is okey in LIGHT MODE :

![mumble-ui-now](https://user-images.githubusercontent.com/72341453/115408136-26c31f00-a1e0-11eb-8567-232517dcc90b.PNG)

[2021-04-20 14:18] MidouWebDev opened #300 "Condensed text in Search by post & user + The "4 4" isn't following the Mumble Colors"
**Describe the bug**

Condensed text in Search by post & user + The "4 4" isn't following the Mumble Colors

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'https://mumble.dev/search?q=test'
2. Click on 'Users'
3. You can see that there is a condensed text there
4. The 4 4 color isn't following the style_guide.md
5. Try this on a mobile ( a "!" is causing a problem)

**Screenshots**

[2021-04-20 14:27] MidouWebDev commented on #299
Fixed these UI bugs #301

[2021-04-20 14:27] MidouWebDev commented on #300
Fixed these UI bugs #301

[2021-04-20 14:27] #300 closed

[2021-04-20 15:41] MidouWebDev opened #302 "Dark/Light mode logos don't have the same size"
( I think i am going to work on it )

![screen-capture-_3_](https://user-images.githubusercontent.com/72341453/115424050-d6eb5480-a1ed-11eb-80f9-5ff182863838.gif)

[2021-04-21 14:52] codyseibert commented on #218
I'll close this for now, but there are still a lot of links that don't show any hover feedback.  I think we need to make a shared component or a common BEM class for links and use that.

[2021-04-21 14:52] #218 closed

[2021-04-21 14:53] codyseibert commented on #220
I fix a lot of the issues, but there are still some css files not properly doing BEM

[2021-04-21 21:19] MidouWebDev commented on #218
#306 closes this issue !
Now all the links have a underline decoration 👍🏼

[2021-04-22 07:10] mani-barathi opened #307 "Update README with new screenshots"
Since the our Site has changed, I think we should update the images (screenshots) in the README.

[2021-04-24 03:36] jewells07 opened #308 "Continuous Hierarchy Of Reply"
**It's having Continuous Hierarchy Of Replies. We have to stop at once.**

![comments](https://user-images.githubusercontent.com/54440548/115946002-13fc6300-a4dc-11eb-9402-6aaf8e862c11.png)

[2021-04-24 16:43] codyseibert commented on #308
I'm not sure what you mean.  Having nested comments is currently the design we want as of right now.

[2021-04-24 22:45] MidouWebDev opened #309 "Test (Updating the bot)"
Just a test

[2021-04-24 22:46] MidouWebDev commented on #309
GitHub Bot is working

[2021-04-24 22:46] #309 closed

[2021-04-25 15:52] jewells07 commented on #308
Isn't weird to keep nesting? instead we use "@username"

[2021-04-26 14:55] #285 closed

[2021-04-26 19:36] divanov11 commented on #307
Yes I agree. I can assign you to this if you'd like

[2021-04-26 19:38] divanov11 opened #312 "Follow user from profile"
We should add a follow button to users profile. At this point we can only follow users from the search page or "recommended users" card.

![Follow Button](https://user-images.githubusercontent.com/33843378/116140469-fcb8a380-a69c-11eb-90cb-7b0bb94b9fac.PNG)

![Follow Button 2](https://user-images.githubusercontent.com/33843378/116140531-12c66400-a69d-11eb-9ede-b72584908006.PNG)

[2021-04-26 21:11] MidouWebDev commented on #312
I think i am going to work on it

[2021-04-27 02:28] mani-barathi commented on #307
Yup... I'll take this

[2021-04-27 02:45] PraveenMalethia opened #313 "Username not updating"
**Describe the bug**

After updating username, the skeleton loader didn't get away and didn't update the Profile!

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'Settings'
2. Click on 'Edit Profile'
3. Update username
4. See an error

**Expected behavior**

it should update the username and the skeleton loader must disspaear!

**Screenshots**

![image](https://user-images.githubuser

[2021-04-27 03:29] jewells07 commented on #308
Yes got it. Let's keep it for the future if we want to redesign.

[2021-04-27 03:45] mani-barathi commented on #307
I'll also add the repo links to the backed and Vue version

[2021-04-27 03:56] jewells07 opened #314 "Fetch back all posts on up/down votes"
Clicking on up/down votes, it is **fetching back all posts again** and if we vote post at downside it is **scrolling up**.

![bug](https://user-images.githubusercontent.com/54440548/116180871-43f37280-a737-11eb-8aa8-ed1b7950a018.jpeg)

[2021-04-27 04:14] jewells07 opened #315 "Back button/Redirecting issue on Profile endpoint"
Clicking on the profile it will **redirect to the same page (we can't notice because we already on that page)**,
but when we want to go back we have to click back as much as we clicked on the profile

Example : Clicked 3 times on profile, no effect because we already on that page. If we want to go back we have to click 3 times too.

**NOTE: Referring browser back button, Not the "GO BACK" button o

[2021-04-27 11:08] MidouWebDev commented on #315
Can you explain it using the template ?
I didn't get the point

[2021-04-27 12:16] MidouWebDev commented on #312
@divanov11 i worked on it but it is showing an error
You can check my PR #318

![image](https://user-images.githubusercontent.com/72341453/116239519-4616fa80-a752-11eb-9070-4cb574ea8d18.png)

[2021-04-27 14:43] jewells07 commented on #315
We are knowing that, But as a user we go back with browser button. In mobile also we go back with back button.

![Inkedbackbtnjpg](https://user-images.githubusercontent.com/54440548/116260955-cd855d80-a794-11eb-989a-dce6729b7028.jpg)

[2021-04-27 15:29] thisisganesh opened #319 "Go Home link not updating the page on 500 ( Internal Server Error ! ) page"
**Preflight Checklist**

* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

**Describe the bug**

On the 500 error page, if we click on the go-home link it is just updating the link in the browser but not the page.

**To Reproduce**

Steps to reproduce the behavior:

1. login into mumble
2. Click on any topic in the Discussions section
3. on

[2021-04-27 16:31] MidouWebDev opened #320 "Testing the automated kanban i set up"
Just testing !

[2021-04-27 17:59] #320 closed

[2021-04-27 20:40] MidouWebDev opened #321 "Forget Password page"
**Describe the solution you'd like**

I will work on the forget password page

[2021-04-27 21:11] Mr-spShuvo commented on #319
Resolved by [this commit](https://github.com/divanov11/Mumble/commit/abbb97a5ab8e5070fd77cddfdcd68f1a64f1bc18)
![Uploading screenshot-localhost_3002-2021.04.28-03_08_42.png…]()

[2021-04-27 23:28] PraveenMalethia opened #322 "Content not clearly visible in one of the theme mode !"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:

Just try to Switch between dark or light mode and then see the discussion card have green boxes with some content.

**Expected behavior**

A clear and concise description of what you expected to happen.

The content between the green boxes of the Discussion card must be so

[2021-04-27 23:40] Mr-spShuvo commented on #322
This is visible. On which devices or browser?

![image](https://user-images.githubusercontent.com/22437186/116325443-fbde5980-a7e3-11eb-933c-0132cda4a6d7.png)

[2021-04-27 23:41] #319 closed

[2021-04-27 23:45] #307 closed

[2021-04-28 00:27] #313 closed

[2021-04-28 04:08] codyseibert opened #324 "Integrate Create an Article with API"
The API for creating an article has been created.  This Issue will require you to integrate with that endpoint when you click on the create button:

![Screen Shot 2021-04-28 at 12 08 14 AM](https://user-images.githubusercontent.com/1868782/116345282-d4709800-a7b5-11eb-8220-e54017c616fb.png)

[2021-04-28 04:26] mani-barathi opened #325 "site crashing due to bug in error dispatch actions"
Some states in the users and posts reducer are failing when there is a server error(500) as we are dispatching error to state, but we are not setting the arrays to empty arrays. And in the components we are trying to map over the arrays which are not defined

**To Reproduce**
- this happens only if there is an internal server error

![image](https://user-images.githubusercontent.com/49336839/11634

[2021-04-28 04:30] gmrzone commented on #325
There is no Database in Backend server

[2021-04-28 04:37] mani-barathi commented on #325
Ohh Okie... but still I think it needs to be fixed.

[2021-04-28 05:42] thisisganesh commented on #319
https://www.mumble.dev/   . instead of showing landing page , it shows 500 page now.

[2021-04-28 05:58] #324 closed

[2021-04-28 07:27] Mr-spShuvo opened #327 "🔴 Not fetching any data"
### Something is broken, The data from backend is not loading.

![image](https://user-images.githubusercontent.com/22437186/116363970-85624b80-a825-11eb-9218-6e3ff7687859.png)

[2021-04-28 08:48] Mr-spShuvo commented on #319
That's because backend is broken.

[2021-04-28 19:14] PraveenMalethia commented on #322
There was an extention working in background ! Dark mode extention !
I Switched that off ! Now its good

[2021-04-28 19:14] #322 closed

[2021-04-29 04:17] #325 closed

[2021-04-29 07:29] PraveenMalethia opened #331 "A mail template for Email verification"
A clear and concise description of what you want to happen is to create a mail template for email verification

**Describe alternatives you've considered**

A clear and concise description of any alternative solutions or features you've considered.

I have come to an idea to get an HTML template with all CSS styling and some buttons and URL too

**Add additional instructions and considerations for

[2021-04-29 08:40] MidouWebDev commented on #331
In which folder can i add this new file that i will create ? @PraveenMalethia

[2021-04-29 09:09] PraveenMalethia commented on #331
In users create a folder name templates .
And paste it there

[2021-04-29 11:41] MidouWebDev commented on #331
Mobile view :

![mumble-email-mobile](https://user-images.githubusercontent.com/72341453/116545244-b3a46180-a8df-11eb-8786-79891d3989b9.png)

Laptop :

![mumble-email](https://user-images.githubusercontent.com/72341453/116545269-b99a4280-a8df-11eb-966f-eeac07ec44d2.png)

[2021-04-29 11:46] #331 closed

[2021-04-29 11:54] MidouWebDev opened #332 "The project board feature isn't introduced in the repo"
There is no file introducting the project board feature

[2021-05-01 18:03] MidouWebDev opened #334 "Request failed with status code 500 (login)"
**Preflight Checklist**

* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

**Describe the bug**

I can't login

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'mumble.dev'
2. Type the username and password
3. Login
4. See error : Request failed with status code 500

[2021-05-01 18:04] MidouWebDev commented on #334
![Uploading image.png…]()

[2021-05-01 18:04] MidouWebDev commented on #334
![image](https://user-images.githubusercontent.com/72341453/116791100-9cb06b80-aaa7-11eb-92e6-8eda3e6efa5c.png)

[2021-05-01 18:05] PraveenMalethia commented on #334
The backend still needs to be fixed! the database is empty and @divanov11  will create that dummy user, after that you will be able to login!

[2021-05-02 14:16] MidouWebDev commented on #332
Project Board is now announced !

https://github.com/divanov11/Mumble/commit/55352bdc659179206376147e4e21c451486c91d3

[2021-05-02 14:16] #332 closed

[2021-05-04 15:36] #334 closed

[2021-05-05 08:13] RemcoHalman opened #335 "License update"
While catching up to the project to add value I found that there is info missing in the License footer.

This info is needed to ensure the License is valid

[2021-05-07 06:41] #335 closed

[2021-05-07 17:20] MidouWebDev commented on #321
#338

[2021-05-07 17:20] MidouWebDev commented on #302
#338

[2021-05-07 17:20] #302 closed

[2021-05-07 18:50] PraveenMalethia commented on #327
Now it's fetching data!

[2021-05-07 18:50] #327 closed

[2021-05-08 02:41] codyseibert commented on #314
I think the reducers should be modified to just increment / decrement the vote count on the mumble which the upvote / downvote was clicked on the UI instead of fetching back all the data.  Either that, or the upvote / downvote endpoint should return the single mumble data and we should replace that in state.

[2021-05-08 13:17] #312 closed

[2021-05-08 14:13] codyseibert commented on #315
This is the default behavior of links on websites.  Go to any website and click on a link that navigates you to the same page multiple times, you'll notice you have to click the back button multiple times.

[2021-05-08 14:28] codyseibert commented on #315
I fixed this in the following commit: https://github.com/divanov11/Mumble/commit/33628ae2639e260481bfafda049da5c9030ac6cf

[2021-05-08 14:28] #315 closed

[2021-05-08 14:29] #314 closed

[2021-05-08 14:31] codyseibert opened #341 "Notifications Dropdown should have a fixed height and scrollbar."
as you can see in the image, when there are too many notifications, they go off the screen.  Either put these in a fixed height scroll bar, or only display the most recent 3 and display a "see 20 more notifications" link that will redirect them to their notification page.

![Screen Shot 2021-05-08 at 10 30 50 AM](https://user-images.githubusercontent.com/1868782/117542878-78451980-afe8-11eb-8f84-4

[2021-05-08 17:32] MidouWebDev commented on #220
Do we still have css files that don't support the BEM ?

[2021-05-08 17:44] MidouWebDev opened #342 "Can't type in the input in ForgotPassword"
### Preflight Checklist

* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

Can't type in the input in ForgotPassword.js

#

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'https://www.mumble.dev/forgot-password'
2. Click on 'email address (input)'
3. Type anything
4. See the error

#

### Expected beha

[2021-05-10 03:16] mani-barathi commented on #342
I'll fix this right now

[2021-05-10 05:49] mani-barathi commented on #341
@codyseibert Does this look ok?

![asdf](https://user-images.githubusercontent.com/49336839/117611651-7f535f80-b181-11eb-9d41-d04a98fdec04.gif)

[2021-05-10 09:42] MidouWebDev opened #344 "A bug in Top Contributors Column"
### Preflight Checklist

* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

Top Contributors column has an inappropriate length

#

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'mumble.dev'
2. Login
3. See Error

#

### Screenshots

![image](https://user-images.githubusercontent.com/72341453/117639859

[2021-05-10 10:33] PraveenMalethia commented on #344
![image](https://user-images.githubusercontent.com/59171685/117646280-344d4280-b1a9-11eb-8696-3a7b0b7fa821.png)

the issue is when we resize the screen from large to small!

[2021-05-10 10:51] Mr-spShuvo commented on #344
Don't worry about it now, A sidebar navigation will go there. And Top contributor section be on the right hand side eventually.
This is not a bug this is a feature, lol. 😉

[2021-05-10 11:11] MidouWebDev commented on #344
@Mr-spShuvo i didn't know about the sidebar feature !
That's why i thought that it is a bug

[2021-05-10 11:44] Mr-spShuvo commented on #344
Don't worry about it. You did a good job. I fixed the layout. Let's check out.

[2021-05-10 11:44] #344 closed

[2021-05-10 11:55] MidouWebDev opened #345 "Reviewers at Mumble ?!"
### Is your feature request related to a problem? Please describe.

Managing the PRs easily

#

### Describe the solution you'd like

Add the Reviewers and explain how sending PRs will be after

[2021-05-10 12:23] MidouWebDev commented on #342
#343

[2021-05-10 12:23] #342 closed

[2021-05-10 14:13] codyseibert commented on #341
@mani-barathi I think so, make a PR, thanks!

[2021-05-10 19:49] #341 closed

[2021-05-10 19:50] codyseibert commented on #220
@MidouWebDev I'll try to look through them and maybe close this card if everything looks good

[2021-05-10 21:28] MidouWebDev commented on #341
@codyseibert you forgot adding the issue to the Project Board !!

[2021-05-11 04:42] jewells07 opened #349 "Scrolling and hidden card"
One of them is **scrolling** and another is **sticky**

![scroll1](https://user-images.githubusercontent.com/54440548/117758852-5fcf3c00-b240-11eb-9595-e0f15ef954f2.jpg)

The **sticky** one hide the "skill tag" card.

![scroll2](https://user-images.githubusercontent.com/54440548/117758958-9311cb00-b240-11eb-87fb-618bb26ad69b.jpg)

[2021-05-11 06:07] Mr-spShuvo commented on #349
The first one is expected.
The second one, what is the device resolution can you tell me?

[2021-05-11 14:32] #180 closed

[2021-05-12 15:24] Parkar99 opened #350 "Confirm password field on register"
Confirm password should be there to make sure the user doesn't enter a typo in their password
### Describe the solution you'd like

[2021-05-12 15:26] Parkar99 opened #351 "Add a Loading indicator on register"
I clicked register multiple times due to no visual indicator that there was a request ongoing

Solution:

Some kind of loading indicator that the account register is ongoing before it's redirected to the home page

[2021-05-12 15:30] Parkar99 opened #352 "You're able to follow yourself"
### Preflight Checklist

* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

A user is able to follow themselves

#

### To Reproduce

Steps to reproduce the behavior:

1. Click on your profile
2. Follow button appears which is clickable

#

### Expected behavior

No follow button should appear since it's your own pro

[2021-05-12 18:36] abhivemp commented on #352
@codyseibert I Think this is a bug for the backend?

[2021-05-12 20:12] S-Rosemond commented on #349
<div style={{ position: 'fixed' }}>
          <TopicTags tags={user.interests} />
          <DiscussionsCard discussions={discussions} />
        </div>

Solution: src/pages/HomePage.js needs a div with a fixed position as a wrapper for the two cards.

[2021-05-12 23:30] MaxMohammadi opened #353 "Update Profile Avatar"
### Preflight Checklist

* [x ] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

Updating personal avatar reports error "Endpoint Currently Not available"

#

### To Reproduce

Steps to reproduce the behavior:

1. Go to Settings
2. Click on Update Avatar
3. Upload file
4. See error

#

### Expected behavior

The profile

[2021-05-13 00:04] Parkar99 commented on #352
@abhivemp Also front end since it shouldn't show in UI

[2021-05-13 01:02] codyseibert opened #354 "Registration form fails without a notification when username already exists"
### Describe the bug

Not user feedback when registering an account with an in-use username

### To Reproduce

Steps to reproduce the behavior:

1. Go to register
2. registare a user with a username
3. go back to register
4. enter the same username
5. notice no error displays on the UI saying "username is already taken"

[2021-05-13 01:04] codyseibert opened #355 "Add Pagination to Search Pages"
When going to the search page, it loads all the users in the database and shows it in the UI.  We should add some type of pagination so that it only displays maybe 10 at a time, and the user has to click a "load more" button to fetch more.

[2021-05-13 01:07] codyseibert opened #356 "Searching by User not working"
Try searching by a known user in our system, and it won't come back on the search page.  I think it's related to the / appended to the search URL from the UI:

![Screen Shot 2021-05-12 at 9 07 55 PM](https://user-images.githubusercontent.com/1868782/118062968-20027480-b366-11eb-89fe-a7534670361b.png)

[2021-05-13 01:10] codyseibert commented on #352
@abhivemp @Parkar99 There is logic in the backend that prevents this from happening.  I think the frontend just needs to not change the button until we successfully know we followed the user

[2021-05-13 01:14] codyseibert commented on #352
![Screen Shot 2021-05-12 at 9 14 55 PM](https://user-images.githubusercontent.com/1868782/118063447-1a595e80-b367-11eb-993a-57e13cde42a9.png)

[2021-05-13 01:31] codyseibert opened #357 "Right Column hidden by header"
When scrolling on the page, the right side column gets hidden by the header.

![Screen Shot 2021-05-12 at 9 30 40 PM](https://user-images.githubusercontent.com/1868782/118064587-4d9ced00-b369-11eb-977e-f35b0bce8b3d.png)

[2021-05-13 01:35] codyseibert commented on #357
![Screen Shot 2021-05-12 at 9 35 17 PM](https://user-images.githubusercontent.com/1868782/118064895-f3505c00-b369-11eb-91a2-ebb1e85b1bc5.png)

[2021-05-13 01:38] codyseibert commented on #220
I just checked, there is still css failing bem validation

[2021-05-13 01:52] SahasSaurav opened #359 "The login and sign up page inputBox is lacking focus styles"
The login and signup pages  form element is lacking focus styles and which is not great for accessibility

[2021-05-13 03:51] codyseibert commented on #355
the ability to hit `api/users/?page=1` now exists on the api

[2021-05-13 08:08] MidouWebDev commented on #220
@codyseibert Can you share the files link ?
So that i can fix that issue

[2021-05-13 08:29] MidouWebDev commented on #359
@SahasSaurav can you provide screenshots ?

[2021-05-13 10:23] SahasSaurav commented on #359
![Screenshot (151)](https://user-images.githubusercontent.com/60291223/118112959-50e4b700-b403-11eb-8bb1-748105f51b34.png)
![Screenshot (150)](https://user-images.githubusercontent.com/60291223/118112983-56da9800-b403-11eb-88cf-c0907f282d13.png)

[2021-05-13 10:28] MidouWebDev commented on #359
@SahasSaurav

Do you want to work on it ?
Do you have a preview of what you expected to have on the login/register page

[2021-05-13 10:33] SahasSaurav commented on #359
Yes I can work on this actually it

[2021-05-13 12:15] mani-barathi commented on #355
@codyseibert `api/users/?page=1` is till returning all 200+ users

[2021-05-13 12:25] mani-barathi commented on #356
@codyseibert  I've fixed this, I will give a PR.

[2021-05-13 13:06] Mr-spShuvo commented on #357
@codyseibert  that is expected on the first case.
Cause this is sticky and will scroll to all the cards on right hand side.

[2021-05-13 13:33] MidouWebDev commented on #359
@SahasSaurav okey cool
I will assign you

[2021-05-13 13:35] MidouWebDev commented on #356
@mani-barathi i assigned you

[2021-05-13 13:53] codyseibert commented on #353
I'll work on this one

[2021-05-13 14:07] MidouWebDev commented on #356
#360

[2021-05-13 14:07] #356 closed

[2021-05-13 14:09] MidouWebDev commented on #353
#360

[2021-05-13 14:10] #353 closed

[2021-05-13 15:43] SahasSaurav commented on #359
Hey where i can interact with the designer  so we can discuss color for focus state and  how to want to show focus input box
This is how i have done my project

![Screenshot (152)](https://user-images.githubusercontent.com/60291223/118150251-f7df4800-b42f-11eb-9f55-f284aaf84028.png)

[2021-05-13 16:09] neilmlapuz commented on #350
Check if the given password is the same as the 'confirmed password' upon onSubmit form
and if it is then just trigger the dispatch and if not then render set message error that it is not the same.

[2021-05-13 16:28] MidouWebDev commented on #359
@SahasSaurav Did you join the Mumble discord server ?

[2021-05-13 17:00] divanov11 commented on #355
Has anyone decided to accept this task? Seems like we can use lazy load here and on in the feed

[2021-05-13 17:11] mani-barathi commented on #355
I'll work on this...

[2021-05-13 17:12] divanov11 commented on #355
Thank you Mani!

[2021-05-13 17:13] divanov11 commented on #355
@mani-barathi let me know if you have any questions. We can get on a call

[2021-05-13 17:16] mani-barathi commented on #355
@divanov11 sure

[2021-05-13 17:38] desaidhruv opened #362 "Discord Link not working."
### Describe the bug

The Discord link in Readme File is invalid.

#

### Screenshots

Here is the Screenshot for the same.
![image](https://user-images.githubusercontent.com/40533390/118163502-adfe5e00-b43f-11eb-857a-d64d5601ac1f.png)

[2021-05-13 17:47] mani-barathi commented on #355
@divanov11  I figured out how to do implement it.. I have some questions can we get on a call?

[2021-05-13 18:06] MidouWebDev commented on #362
Okey i will fix it

[2021-05-13 18:31] desaidhruv commented on #362
This issue is solved, please close the issue.

[2021-05-13 18:33] divanov11 commented on #362
Thank you Mehdi, I will close the issue

[2021-05-13 18:33] #362 closed

[2021-05-13 18:36] divanov11 commented on #357
I agree @Mr-spShuvo. This is how twitter does it and it will make more sense when we have more content in the sidebars
![Twitter sidebar](https://user-images.githubusercontent.com/33843378/118170894-9f408880-b3f8-11eb-9fde-d0d4e0f1118c.PNG)

[2021-05-13 18:37] divanov11 commented on #357
I'll close this issue unless there is something else here

[2021-05-13 18:37] #357 closed

[2021-05-13 18:39] divanov11 commented on #354
Looks like we need to simply return the error in an alert box. I'll take a quick look

[2021-05-13 18:55] divanov11 commented on #354
Ok so I just added an error message. We will need to customize what the response says in the backend. Currently we just get back an default status code.
![Register Error](https://user-images.githubusercontent.com/33843378/118173189-3e667f80-b3fb-11eb-9838-910f0e65a38c.PNG)

[2021-05-13 18:55] #354 closed

[2021-05-13 18:56] divanov11 commented on #352
If someone wants to take care of this go ahead :) It's a nug but not a huge issue that we need to resolve before the launch of the MVP.

[2021-05-13 19:18] mani-barathi commented on #355
@divanov11 No worries it's almost done.. will make a PR tomorrow.

[2021-05-13 19:21] divanov11 commented on #350
Just added this. I will close the issue.

[2021-05-13 19:21] #350 closed

[2021-05-14 03:05] PraveenMalethia opened #363 "Adding The Delete Mumble Option to Remumbled Post !"
![image](https://user-images.githubusercontent.com/59171685/118215390-132d7000-b48f-11eb-90f6-11fd3e95dbbc.png)

# With Hide, Unfollow, and Block, There should be also an option to delete the Remumbled Post!

## Solution: The Delete Endpoint for Personal Mumble post can be used to delete the Remumbled Post!

[2021-05-14 07:50] okumujustine commented on #351
Who is working on this, I can fix it up if not?

[2021-05-14 08:04] okumujustine commented on #351
I added a PR for this up there, checks if a user is logged in and the current profile's username is not equaled to the logged-in username. Since the username is unique, this should provide a solution.

Hopefully, this works out..

[2021-05-14 08:08] okumujustine commented on #352
I added a PR for this up there, **it checks if a user is logged in and the current profile's username is not equaled to the logged-in username**. Since the username is unique, this should provide a solution.

Hopefully, this works out.

[2021-05-14 08:10] okumujustine commented on #352
this is what it looks like.

`          {isAuthenticated && userProfile?.username !== user?.username && (
            <div>
              <FollowButton userProfile={userProfile} />
            </div>
          )}`

[2021-05-14 14:23] #352 closed

[2021-05-14 14:23] #355 closed

[2021-05-14 15:09] codyseibert opened #366 "Unfollow Button Needs Logic - User Feed"
The unfollow user in the mumble action menu does not do anything.  We should make that button unfollow the user and refresh your user feed.

![Screen Shot 2021-05-14 at 11 07 44 AM](https://user-images.githubusercontent.com/1868782/118290715-bd63c280-b4a4-11eb-919e-22d85faa66e7.png)

[2021-05-14 15:12] MidouWebDev commented on #366
@codyseibert please don't forget next time to add your issues or PRs to the Project Board !

[2021-05-14 15:24] mani-barathi commented on #363
I'll work on this

[2021-05-14 15:38] codyseibert opened #367 "Use Search not refreshing with the latest values"
Go to the user search page, click the load more button, type zebra in the search inbox, notice that a bunch of results not related to zebra are still displayed in the UI

![Screen Shot 2021-05-14 at 11 37 28 AM](https://user-images.githubusercontent.com/1868782/118294660-f140e700-b4a8-11eb-9397-a7f20b057f93.png)

[2021-05-14 15:40] MidouWebDev commented on #363
@mani-barathi i assigned you

[2021-05-15 12:21] MidouWebDev commented on #351
Assigned to @okumujustine

[2021-05-15 12:23] MidouWebDev commented on #308
@codyseibert
@jewells07

so i guess we should close the issue !

[2021-05-15 14:02] jayshah-07 commented on #367
Can you assign this issue to me

[2021-05-15 14:09] MidouWebDev commented on #367
@jayshah-07 i assigned you !

[2021-05-15 14:13] jayshah-07 commented on #367
@MidouWebDev  I'm not able to commit my changes.
[code]

![image](https://user-images.githubusercontent.com/4672245/118364352-c4c6c100-b5b5-11eb-99f7-719858f2bf25.png)

[2021-05-15 16:57] MidouWebDev commented on #367
@jayshah-07 i see that you cloned the main repo ? did you fork the repo ?

[2021-05-15 21:29] MidouWebDev opened #373 "The Update Button in the Pic Cropper isn't clearly visible"
### Preflight Checklist

* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

The profile pic cropper takes too much place, i should be in a 90% zoom to have the ability to update my pic

#

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'mumble.dev'
2. Click on 'settings'
3. Scroll down to 'update avatar

[2021-05-15 21:45] MidouWebDev opened #374 "Can't update my email address in the profile settings"
### Preflight Checklist

* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

I can't update my email address in the profile settings

#

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'mumble.dev'
2. Click on 'profile'
3. Scroll down to 'settings'
4. Try to update the email address
5. See Error

#

### E

[2021-05-15 21:50] MidouWebDev opened #375 "Mistake in a placeholder in settings modal"
### Preflight Checklist

* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

For the email, the placeholder asks : "enter your full name" ?!

#

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'mumble.dev'
2. Click on 'settings'
3. go to 'edit'
4. Delete the fake email there
5. see error

#

### Expected

[2021-05-15 22:02] MidouWebDev commented on #375
#376

[2021-05-16 10:47] MidouWebDev opened #378 "There is a bug in the layout of the login/register pages"
### Preflight Checklist

* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

There is a bug in the layout of the login page

#

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'mumble.dev' (don't sign in)
2. See error in the login page

#

### Expected behavior

i expected to see this :

![loginpage](http

[2021-05-16 14:38] jayshah-07 commented on #367
@MidouWebDev I've added my changes but it failed to deploy while creating a pull request. Moreover, I can't see details of the fail.

https://vercel.com/divanov11/mumble/C3bYTB7Vy9PZHb1gX9zByVtD4c8e [Preview link for error] => through 404

Is there something I'm doing wrong with the pull request?

![image](https://user-images.githubusercontent.com/4672245/118401157-22284400-b682-11eb-8071-1f120b13

[2021-05-16 14:53] #351 closed

[2021-05-16 14:56] #363 closed

[2021-05-16 14:57] #375 closed

[2021-05-16 15:00] Mr-spShuvo commented on #373
On what scale you are using on your device?
You can find it under display settings!
I really doubt you device messed up with scaling.
![image](https://user-images.githubusercontent.com/22437186/118401992-b5b14300-b689-11eb-80b5-48b4850c3d19.png)

[2021-05-16 15:03] Mr-spShuvo commented on #373
On my device... at 100% zoom
![image](https://user-images.githubusercontent.com/22437186/118402056-13de2600-b68a-11eb-8d59-15e1c77b4220.png)

[2021-05-16 15:14] MidouWebDev commented on #373
a 15.6" Display ? Google Chrome ?

[2021-05-16 15:20] MidouWebDev commented on #373
@Mr-spShuvo I am on a 15.6" Laptop and 100% zoom (scale)

![image](https://user-images.githubusercontent.com/72341453/118402586-715e7c80-b662-11eb-9711-a546cc24eea8.png)

[2021-05-16 15:32] #349 closed

[2021-05-16 15:37] Mr-spShuvo commented on #373
I've simulate exact device with resolution, See the result.
It's your device only thing.
![image](https://user-images.githubusercontent.com/22437186/118403138-cc0dcd80-b68e-11eb-82ed-14b2d3841a00.png)

[2021-05-16 16:09] Mr-spShuvo commented on #373
I think I'm gonna close it.

[2021-05-16 18:33] MidouWebDev commented on #373
??

[2021-05-16 21:04] sheyziSilver opened #379 "I can follow myself"
### Preflight Checklist

* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

I can follow myself

#

### To Reproduce

Steps to reproduce the behavior:

1. Go to any page
2. Click on the search bar
3. Type your username
4. And click on follow

#

### Expected behavior

I actually thought I wouldn't be able to search m

[2021-05-16 21:52] PraveenMalethia opened #380 "update the endpoint for Delete Mumble !"
# New Endpoint for deleting at mumble backend is updated
# Because the previous endpoint will make more sense to use as a detail endpoint for a single Mumble

* Old Endpoint :
![image](https://user-images.githubusercontent.com/59171685/118413846-068f5e80-b6bf-11eb-9929-e198804e18b0.png)

* New endpoint :

![image](https://user-images.githubusercontent.com/59171685/118413837-faa39c80-b6be-11eb-9557

[2021-05-17 00:25] #379 closed

[2021-05-17 03:38] mani-barathi commented on #380
@PraveenMalethia
I tried making a request to the below new endpoint for deleting mumble,
`https://mumbleapi.herokuapp.com/api/mumbles/delete/0fa88a80-2163-4abf-8029-63a9f8934ba6/`
but it gave a **404** response.
I guess the backend is not deployed after the changes?

[2021-05-17 13:56] codyseibert opened #383 "Implement the Refresh Token"
### Is your feature request related to a problem? Please describe.

The app is less secure without using a refresh token and short lived access token.

#

### Describe the solution you'd like

When the user logs in, we get back an access token and a refresh token.  Currently, we don't use the refresh token to get a new access token.  Our UI should periodically send the refresh token to an endpoint

[2021-05-17 16:55] Emmanuel-Dominic commented on #378
@MidouWebDev, I think I work on this now.
Thanks

[2021-05-17 16:57] MidouWebDev commented on #378
@Emmanuel-Dominic i will assign you

[2021-05-18 02:51] #383 closed

[2021-05-18 05:41] sheyziSilver opened #386 "After updating my skills it doesn't update in the frontend"
### Preflight Checklist

* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

After updating my skills on my profile the skills get updated in the backend but not on the frontend.

Your skills wouldn't even be updated after several refresh but it would be updated on the form input if you try changing it again.

#

###

[2021-05-18 08:11] MidouWebDev commented on #378
#384

[2021-05-18 08:11] #378 closed

[2021-05-18 10:13] okumujustine commented on #386
can I work on this? @Mr-spShuvo

[2021-05-18 10:16] jayshah-07 opened #389 "duplicate user with same id"
### Preflight Checklist

* [ ] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

 inside search box type "jay" and select [search by user]. Backend return 3 user with same detials.

If you type "jays" it returns a single user, Thus it looks like DB records duplicate data even though the username is unique.

#

### To Repr

[2021-05-18 17:21] MidouWebDev commented on #386
@okumujustine i can assign you if you wanna work on it

[2021-05-18 17:21] MidouWebDev commented on #386
@okumujustine i can assign you if you wanna work on it

[2021-05-18 17:26] MidouWebDev commented on #386
@okumujustine

By the way there is a similar issue but related to email address

 https://github.com/divanov11/Mumble/issues/374

[2021-05-18 18:13] rshalem opened #390 "Redirecting to an article detail view based on search query isn't working"
### Preflight Checklist

[I have searched the issue tracker for this issue and couldnt find any, hence created a new one]

#

### Describe the bug

When an article is searched for, it displays article if present, but redirecting to that searched article isn't working when clicked
#

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'Homepage'
2. Click on Enter after search query is type

[2021-05-18 18:21] okumujustine commented on #386
ooh okay, let me read through issue #374 as well

[2021-05-18 18:21] #380 closed

[2021-05-18 18:21] rshalem opened #391 "Comment count isn't reflecting as soon as we comment, working in backend but failing in frontend"
### Preflight Checklist

* I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

 Comment count isn't reflecting as soon as we comment, it's reflecting only after refreshing the page again. It should reflect as submission of comment is done.

#

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'Article/Post'
2. Cl

[2021-05-18 18:36] MidouWebDev commented on #386
@okumujustine ok, thanks bro !

[2021-05-19 05:15] #367 closed

[2021-05-19 07:29] mani-barathi commented on #366
@codyseibert @PraveenMalethia
Is the backend updated and deployed with the unfollow user route?

[2021-05-19 12:01] okumujustine commented on #386
@MidouWebDev , I don't know if you have noticed this but, looks like the backend doesn't update the profile.

the update API seems not to be updating the skills

[2021-05-19 12:33] MidouWebDev commented on #386
Yeah, that's true !
@PraveenMalethia

[2021-05-19 15:43] PraveenMalethia opened #392 "Remove option of Unfollow for Non Following User !"
![image](https://user-images.githubusercontent.com/59171685/118842555-f22daa80-b8e6-11eb-955e-6727fbf83929.png)

The unfollow option is also showing for the user that we don't follow!

[2021-05-19 15:50] MidouWebDev commented on #392
@PraveenMalethia don't forget to add your issues/PRs to the project board pleaase !!

[2021-05-19 21:47] codyseibert commented on #392
grabbing this one

[2021-05-20 08:36] okumujustine commented on #386
I think I should do this as long as the API is ready.
Meanwhile am thinking of raising the issue in the API repo if it isn't raised yet, and as well do it...

[2021-05-20 08:39] MidouWebDev commented on #386
Okey, cool :wink:
Thanks bro !
@okumujustine

[2021-05-20 12:40] Leopold-V commented on #390
Hi @rshalem,
I would be glad to work on this issue as my first contribution to mumble 👍.

[2021-05-20 14:27] Leopold-V commented on #374
Hi @MidouWebDev
I think it is a backend issue because whatever we modify in the user setting page, a request is sent to the api/users/profile_update/ route and always answer with an undefined email field  : https://i.gyazo.com/9f3172e087236a062e49a0c17cac74bc.png .

[2021-05-20 15:18] Gagan-Saffron opened #395 "SignUp bug -Error with a strange error message."
### Preflight Checklist

* [ ] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

There was a strange bug that  occured when i tried to sign up.
I was not able to signup for some unknown reason, and the error message that i got was bit strange -
it stated " permission denied for table auth_user".

A clear and concise descr

[2021-05-20 17:52] MidouWebDev commented on #374
@Leopold-V thanks bro

I will check this with @PraveenMalethia

[2021-05-20 21:45] #392 closed

[2021-05-20 21:45] #366 closed

[2021-05-21 03:50] mani-barathi commented on #395
@Gagan-Saffron I guess this is regarding some problem in the backend.

[2021-05-21 03:56] codyseibert commented on #389
I'm thinking this is a bug with the view.  Our database is set to have unique columns for username, so our api must be fetching duplicates or using pagination incorrectly

[2021-05-21 05:03] jayshah-07 commented on #389
@codyseibert please see attached image response tab. I've highlighted the response as the server returns a duplicate user.

![image](https://user-images.githubusercontent.com/4672245/119084666-d7ab1c80-ba1f-11eb-8c9e-90433fb0ce0d.png)

[2021-05-21 05:10] codyseibert commented on #389
@jayshah-07 yup it's an issue with our "view" in the django api.  We call the logic on the backend "views".  I'll already have a fix for this, it just needs to be deployed.  Thanks for reporting this bug!

[2021-05-21 05:10] #389 closed

[2021-05-22 07:52] itzomen opened #402 "Tags and skills return data changed"
### Is your feature request related to a problem? Please describe.

The return data of the tags and skills is now serialized

[code]
#

### Describe the solution you'd like

I will be modifying the the mapping to adapt to the change

[2021-05-22 10:38] MidouWebDev commented on #374
@PraveenMalethia

[2021-05-22 10:51] MidouWebDev commented on #402
@itzomen please refer to the contributing guidelines before creating a PR or an issue.
You always forget to add them to the project board !!

https://github.com/divanov11/Mumble/blob/master/Project_Board.md

[2021-05-22 11:05] MidouWebDev commented on #395
@Gagan-Saffron

thanks for reporting this issue !
Can you refer to the contribution guidelines, you forgot to add this to the project board and you didn't follow the issue template ! (steps to reproduce, expected behavior ...)

[2021-05-22 11:53] itzomen commented on #402
Oh Sorry, it always slip off my mind.

[2021-05-22 16:04] codyseibert opened #403 "Fix the various bugs Dennis mentioned during a Meeting"
### Preflight Checklist

* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

there are various bug within the application that Dennis mentioned during a meeting, including:
- disable the unused side navigation links
- fixing the search header from refreshing
- style up the article page
- fix the duplicate users that s

[2021-05-22 16:07] codyseibert opened #404 "Refreshing settings page causes the settings page to break"
### Preflight Checklist

* [ ] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

Refreshing the settings page causes the application to break

#

### To Reproduce

Steps to reproduce the behavior:

1. Log in
2. Go to the settings page
3. Refresh the app
4. The page is missing data and broken

#

### Expected behavior

A c

[2021-05-22 16:07] #404 closed

[2021-05-22 16:07] #403 closed

[2021-05-22 16:29] codyseibert opened #405 "Display articles, mumbles, discussions using tabs on the profile"
### Is your feature request related to a problem? Please describe.

The profile page would look nicer with tabs so that you can easily view the articles / mumbles / discussions that the user has created.

#

### Describe the solution you'd like

Add a tabs component to the user profile page to display articles, mumbles, discussions, etc.

#

### Describe alternatives you've considered

Not sure, b

[2021-05-23 21:11] codyseibert opened #407 "Hide Discussions in UI"
### Is your feature request related to a problem? Please describe.

@divanov11 wants to remove the discussions for the MVP.  He'd like to try going in a different direction in focus on mumbles / short articles.  This means we should just hide anything related to discussions in the UI for now.  We can keep functionality in place if we decided to pivot in the future.
#

### Describe the solution you

[2021-05-24 13:05] codyseibert commented on #386
@okumujustine are you cool if I just include a fix for this?  I worked on the backend endpoints and I just had to change it a couple of places in the UI to get the UI working.

[2021-05-24 13:15] codyseibert commented on #402
I think we are going to go forward with this schema.  The UI fix is here #409

[2021-05-24 13:15] #402 closed

[2021-05-24 13:17] #407 closed

[2021-05-24 13:17] #386 closed

[2021-05-24 13:18] #405 closed

[2021-05-24 13:19] okumujustine commented on #386
It's okay, cool

[2021-05-24 13:20] #390 closed

[2021-05-24 14:04] LakshmanKishore commented on #391
I guess I can work on it @MidouWebDev

[2021-05-24 14:05] MidouWebDev commented on #391
@LakshmanKishore cool i will assign you

[2021-05-25 14:11] mani-barathi opened #410 "adding pagination in homepage feed"
### Is your feature request related to a problem? Please describe.
This feature is not related to any problem

### Describe
I Guess the API endpoint in the backend for fetching mumbles `api/mumbles` has pagination implemented, If so I think we can start implementing pagination on the frontend.

### Additional context
I would like to implement this, so I ask @MidouWebDev  or @codyseibert to assign

[2021-05-25 14:27] codyseibert commented on #410
sounds good, I think we do pagination on a couple of other pages, so maybe follow the same approach unless you can think of a better solution.

[2021-05-25 18:09] MidouWebDev commented on #410
@mani-barathi
I added it to the project board :wink:

[2021-05-26 02:00] PraveenMalethia opened #411 "Error When visit Profile Page"
### Describe the bug

A clear and concise description of what the bug is that when I visit the profile page. it is just blank! total white

### Screenshots

![image](https://user-images.githubusercontent.com/59171685/119591444-3b549180-bdf4-11eb-8999-3ac84ab85daa.png)

[2021-05-26 03:31] codyseibert commented on #411
I think this was fixed with the latest deploy to master.  Closing for now since I can't reproduce.

[2021-05-26 03:31] #411 closed

[2021-05-26 03:44] codyseibert opened #413 "Profile Image in header not displaying"
The profile image in the header seems to point to an undefined resource.  I think this bug is probably simple view change to point to the profile.image.  We display user's profile images in the mumbles, so the images are being hosted successfully.

to reproduce:
1. Login
2. Look at the header

<img width="918" alt="Screen Shot 2021-05-25 at 11 43 42 PM" src="https://user-images.githubusercontent.c

[2021-05-26 05:54] niteshseram commented on #413
I would like to work on this issue

[2021-05-26 06:17] MidouWebDev commented on #413
@niteshseram i assigned you 😉
Happy coding !

[2021-05-26 08:32] mani-barathi commented on #410
@MidouWebDev Should I make the PR to **develop** or **master**?

[2021-05-26 12:21] niteshseram commented on #373
I think this is a valid bug. @MidouWebDev you are right update is not visible. I think this happen when the image you load is not in 1:1 ratio. @Mr-spShuvo try loading an image which have greater height than width.

[2021-05-26 12:31] niteshseram opened #416 "Removing the profile picture"
### Is your feature request related to a problem? Please describe.

I think adding a feature to remove the profile picture we have set would be great

#

### Describe the solution you'd like

There should be an option to remove the profile picture we have set before. There can be some point in time, when user doesn't want to have any profile picture. Currently, we can only change profile picture b

[2021-05-26 12:36] MidouWebDev commented on #373
@niteshseram i reopened the issue
We wait for @Mr-spShuvo 's review

[2021-05-26 12:39] mani-barathi commented on #410
@MidouWebDev do update the project board. I'm closing this issue.

[2021-05-26 12:39] #410 closed

[2021-05-26 12:53] MidouWebDev commented on #410
I guess it is automated
@mani-barathi

[2021-05-26 13:38] codyseibert commented on #373
@MidouWebDev can you upload your avatar here so that we can test with that exact same picture?

[2021-05-26 13:41] MidouWebDev commented on #373
@codyseibert sure

[2021-05-26 13:42] MidouWebDev commented on #373
![MidouWebDev's avatar](https://user-images.githubusercontent.com/72341453/119670133-8d1b0d00-be30-11eb-8b28-ca6e8bf4c4ab.png)

[2021-05-26 14:54] akzain opened #417 "google authentication"
### Is your feature request related to a problem? Please describe.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

#

### Describe the solution you'd like

A clear and concise description of what you want to happen.

#

### Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've consider

[2021-05-26 14:54] #417 closed

[2021-05-26 16:08] codyseibert commented on #395
I think this was related to the heroku database hitting a limit.  Closing unless we see this error again

[2021-05-26 16:08] #395 closed

[2021-05-26 16:11] codyseibert commented on #359
Note: the light mode adds and outline to the focused input box, so maybe this is an issue for dark mode only?

Also, we need to add autofocus the first input on page load so the user can start typing when the page loads.

[2021-05-26 19:20] akzain opened #418 "Add a shortcut for focussing the search bar"
### Is your feature request related to a problem? Please describe.

Adding a shortcut for focussing the search bar input would be nice
#

### Describe the solution you'd like

On a keypress for example: '/' should focus the search bar

[2021-05-27 11:34] MidouWebDev commented on #413
#414

[2021-05-27 11:34] #413 closed

[2021-05-27 11:36] MidouWebDev commented on #359
@SahasSaurav

[2021-05-27 11:38] MidouWebDev commented on #416
@niteshseram please follow the contributions guidelines !!

https://midouwebdev.gitbook.io/mumble-docs/contributing/contributing

You didn't add your issue to the project board !
It is necessary for contributors to see which issue is available !!

Please take a look at https://midouwebdev.gitbook.io/mumble-docs/contributing/contributing

[2021-05-27 11:40] MidouWebDev commented on #418
@akzain please follow the contributions guidelines !!

https://midouwebdev.gitbook.io/mumble-docs/contributing/contributing

You didn't add your issue to the project board !
It is necessary for contributors to see which issue is available !!

Please take a look at https://midouwebdev.gitbook.io/mumble-docs/contributing/contributing

[2021-05-27 11:41] MidouWebDev commented on #418
@akzain

i added it this time but try to do it next time
Thanks !

[2021-05-27 13:14] MidouWebDev commented on #416
okey bro, no problem i will check this

[2021-05-27 13:35] niteshseram commented on #416
I think we don't have permission to add the issue to the project board. May be only you guys can do.

[2021-05-27 16:31] LakshmanKishore opened #421 "Post comment Delete not updating"
### Preflight Checklist

* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

When you submit a comment and try to delete that comment after sometime. The comment is not deleting after you press the delete button. Rather the comment gets deleted when the page refresh.

#

### To Reproduce

Steps to reproduce the behavi

[2021-05-29 18:23] #418 closed

[2021-05-30 01:47] PraveenMalethia opened #422 "Create Account delete Option with endpoint"
Creating the UI and connecting the Delete Account endpoint at profile settings!
The ENdpoint is created!
for any endpoint query? ask me!

[2021-05-30 04:37] mani-barathi commented on #422
@MidouWebDev are you working on this? If not I'll work on this

[2021-05-30 06:12] MidouWebDev commented on #422
@mani-barathi i wanted to, by adding a danger zone section in the settings page where we will have the delete account option but if you wanna start now no problem go ahead cuz i planned to start working on it in June 1st

[2021-05-30 07:52] mani-barathi commented on #422
@MidouWebDev For the latest changes, should I pull from master or develop?

[2021-05-30 08:45] MidouWebDev commented on #422
@mani-barathi develop

[2021-05-30 11:09] MidouWebDev commented on #359
@SahasSaurav are you working on it ?

[2021-05-30 20:28] codyseibert commented on #422
@mani-barathi actually, we are just going to revert back to master based development.  Getting everyone to make changes to the develop branch is too much extra work.  Make your PR to the master branch. TY!

[2021-05-30 20:28] #220 closed

[2021-05-30 20:30] codyseibert commented on #308
I'm going to close this issue.  I think we will continue to go with out current comment approach until we start to see major issues on real data.

[2021-05-30 20:30] #308 closed

[2021-05-30 20:33] codyseibert commented on #196
I don't think @divanov11 has worked on this feature, so I'm going to open it back up for anyone to work on.

[2021-05-30 20:35] #391 closed

[2021-05-30 21:48] ishitb commented on #421
Hello. I checked the code and I believe it this can solved using the same way that the adding of comments is being done. So every post has a "PostActions" which contains the adding of comments/posts. So every post has a comments state variable, and on every addition, this array is changed.
I think this can be done for the deletion as well.
Let me know if you like the solution.

[2021-05-30 23:51] okumujustine commented on #421
incase this has not yet been done, I can work on it.

Let me know if I can take it up.✍️

[2021-05-30 23:56] okumujustine commented on #359
I can take up this task in case @SahasSaurav  is busy, and if he is okay with me taking over.

[2021-05-31 00:30] okumujustine commented on #359
I created a PR for this issue, however, I wasn't assigned hopefully we can go with it if it wasn't solved yet.

[2021-05-31 05:15] mani-barathi commented on #422
@PraveenMalethia, @codyseibert
I'm trying to send a POST request to `/api/users/delete-profile` , but the response fails stating the method is not allowed. I've also checked the backend, the view states it requires a POST request.
I'm confused about whether something is wrong in the backend or in the request.

![image](https://user-images.githubusercontent.com/49336839/120142343-cb7f4600-c1fb-11eb

[2021-05-31 12:40] MidouWebDev commented on #359
Thanks @okumujustine
I reviewed your PR
Everything is good ! 👍🏻

[2021-05-31 12:41] MidouWebDev commented on #359
@SahasSaurav i am so sorry
But there is other issues in the repo if you want to contribute to it
Sorry

[2021-05-31 12:42] MidouWebDev commented on #359
#424

[2021-05-31 12:42] #359 closed

[2021-05-31 12:43] ishitb commented on #374
An addition to this. Looking at the code it seems like the issue is that the 'api/users/profile_update/' endpoint, only updates the fields that are in the [UserProfile](https://github.com/divanov11/mumbleapi/blob/ef1399223d406419296633d13a004a77baef41ca/users/models.py#L25) model, and since the actual email is part of the django user model, it's not being updated.

[2021-05-31 12:46] MidouWebDev commented on #374
Yeah that's what @Leopold-V mentionned, i am waiting for @PraveenMalethia '@s opinion

[2021-05-31 12:59] ishitb commented on #196
@codyseibert Hi. if the issue is still open I'd like to work on it.
I have a few questions though,
- The only feature to be added is "Click the tag, redirect to search page", right?
- I'm not sure where these tags are getting added from, I think they're dummy for now?
- On the search page, the Article section seems to be broken. It doesn't show anything, not even a 404
Thank you!

[2021-05-31 14:32] codyseibert commented on #196
@ishitb i think we just need an endpoint to search by tags, such as /api/tags?Name=javascript.  The frontend will have to hook up to it later.

[2021-05-31 14:39] codyseibert commented on #196
Right, click the tag and redirect to the search page with the tag name you clicked.

I don't think we have an endpoint yet, so I'll probably add one called /api/tags?name=JavaScript where you can pass the name and get all the users and mumbles with those tags.

I'll let you know when that endpoint is created

[2021-05-31 20:51] ishitb commented on #196
Alright thank you so much!

[2021-06-01 02:57] codyseibert commented on #422
@mani-barathi it might not be deployed yet.  You could try running the api locally?

[2021-06-01 03:40] mani-barathi commented on #422
@codyseibert ok I'll try running it locally!

[2021-06-01 05:09] ShyamSundhar1411 opened #425 "Email Updation and User Information"
Email is not getting updated probably it is commented out in the signals then While inspecting using DEV tools The user information card is not getting displayed. Hope you guys will look on to it.
Thank You Sir

[2021-06-01 06:43] akzain opened #426 "confirming logout message"
### Is your feature request related to a problem? Please describe.

I accidentally pressed the logout button instead of pressing the settings button and I thought of having a confirmation message for logging out
#

### Describe the solution you'd like

The solution I would like is to have a confirmation message for logging out after the logout button is pressed

[2021-06-01 07:38] MidouWebDev commented on #426
@akzain i assigned you 😉

[2021-06-01 09:18] ishitb commented on #425
Hi @ShyamSundhar1411 Please check the listed issues, this bug is already registered and being taken care of in the backend.
[Existing Issue](https://github.com/divanov11/Mumble/issues/374)

[2021-06-02 13:15] MidouWebDev commented on #425
#374

[2021-06-02 13:15] #425 closed

[2021-06-02 15:20] MidouWebDev opened #428 "🐛 A serious problem in up/downvoting"
## 🐛 A serious problem in up/downvoting

### A GIF to understand :

![bigissue](https://user-images.githubusercontent.com/72341453/120504789-5444e000-c3bc-11eb-9c3c-147dc7f59a5e.gif)

[2021-06-02 15:33] MidouWebDev opened #429 "🐛 The footer in LoginSignUpPage.js (Mobile view)"
![image](https://user-images.githubusercontent.com/72341453/120507996-388f0900-c3bf-11eb-8d07-e58d78edc01d.png)

[2021-06-03 07:31] Leopold-V commented on #428
Hey, can i work on this @MidouWebDev ?

[2021-06-03 07:35] MidouWebDev commented on #428
Sure @Leopold-V
Thank you

[2021-06-03 09:21] MidouWebDev commented on #426
#430

[2021-06-03 09:21] #426 closed

[2021-06-03 13:18] MidouWebDev commented on #429
#431

[2021-06-03 13:18] #429 closed

[2021-06-03 13:33] MidouWebDev opened #431 "👌 Improve Mumble in Mobile Devices"
### Preflight Checklist

* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

We need in Mumble (Mobile View) :
- The logout page (fix the buttons & toogler positions)
- Delete the "/" feature
- The footer in login/register pages
- Change the Sidebar background to the --color-light

[2021-06-03 13:34] MidouWebDev commented on #431
Currently working on it !

[2021-06-03 15:09] MidouWebDev commented on #374
#432

[2021-06-03 15:11] MidouWebDev commented on #374
@PraveenMalethia we need an endpoint here

[2021-06-03 15:49] MidouWebDev commented on #431
#432

[2021-06-03 15:49] #431 closed

[2021-06-03 19:15] MidouWebDev commented on #422
@mani-barathi did you finish the frontend part ?
DM me on Discord plz

[2021-06-03 19:16] MidouWebDev commented on #421
@okumujustine i will assign you

[2021-06-03 19:17] MidouWebDev commented on #416
i will work on the frontend part

[2021-06-03 19:23] MidouWebDev commented on #373
@codyseibert ??

[2021-06-03 21:29] #428 closed

[2021-06-03 21:51] MidouWebDev opened #434 "🐛 A serious bug related to the icons colors in the dark mode"
### when hovering over some icons we have a color effect in the light mode but in the dark mode we don't

## A GIF to understand :

![colors-issue](https://user-images.githubusercontent.com/72341453/120796409-b162a200-c532-11eb-9e14-3d972f239681.gif)

[2021-06-04 02:41] mani-barathi commented on #422
@MidouWebDev yeah!

[2021-06-04 04:03] akzain opened #435 "Blue background on tapping the theme toggler button in logout page in mobiles"
### Preflight Checklist

* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug
When you go to the logout page and tap the theme toggler button in mobiles you will notice a blue background

#

### Video
https://user-images.githubusercontent.com/80206683/120762777-3f349200-c51f-11eb-9ee0-b1d6d6bcf651.mp4
#

### Expected be

[2021-06-04 04:03] akzain commented on #435
I would like to work on this @MidouWebDev

[2021-06-04 09:24] MidouWebDev commented on #435
Happy coding, @akzain !
i assigned you :wink:

[2021-06-04 11:24] MidouWebDev commented on #434
Please if you want to work on it, tag me here so that i can assign you ! 😉

[2021-06-04 13:19] MidouWebDev commented on #435
#436

[2021-06-04 13:19] #435 closed

[2021-06-04 13:21] MidouWebDev opened #437 "Login/Register Pages Media Queries"
i will fix the desktop, tablet and mobile media queries

[2021-06-04 15:18] MidouWebDev commented on #437
#438

[2021-06-04 15:18] #437 closed

[2021-06-04 16:21] MidouWebDev commented on #422
#439

[2021-06-04 16:21] #422 closed

[2021-06-04 20:21] MidouWebDev opened #440 "Confirm deleting a mumble/remumble"
As we have done with the logout process and account deleting, we need a pop-up to confirm deleting a mumble/remumble

PS : I will work on it !

[2021-06-04 21:39] Leopold-V opened #442 "Crash when click on the search by posts page."
### Preflight Checklist

* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

When we try to search by posts the application crash. With error "TypeError: Invalid attempt to spread non-iterable instance."

#

### To Reproduce

https://gyazo.com/a07472d38aca298314e7e199566b5dbd

#

### Additional context

According to t

[2021-06-04 21:40] MidouWebDev commented on #442
@Leopold-V i assigned you

[2021-06-04 21:50] #421 closed

[2021-06-04 23:07] ishitb commented on #434
@MidouWebDev Hi can I be assigned for this?

[2021-06-05 08:35] MidouWebDev commented on #434
@ishitb sure !

[2021-06-05 09:29] PraveenMalethia opened #443 "Showing Wrong Number of comments !"
![image](https://user-images.githubusercontent.com/59171685/120887084-9f563180-c60e-11eb-923f-dabe4b192072.png)

[2021-06-05 09:34] PraveenMalethia commented on #374
Oh, I see ,  will look at that !

[2021-06-05 09:37] MidouWebDev commented on #443
Yeah, i mentionned this problem yesterday !

## Screenshots :

![Screenshot_20210604-222438_Samsung Internet](https://user-images.githubusercontent.com/72341453/120864385-0e3a7880-c584-11eb-8596-cc491b7a8b9f.jpg)

![Screenshot_20210604-222451_Samsung Internet](https://user-images.githubusercontent.com/72341453/120864399-1397c300-c584-11eb-9c8d-61739b5a4560.jpg)

[2021-06-05 09:39] PraveenMalethia commented on #374
i have updated the view to also modify the email field, which is of the default user model provided by Django !

[2021-06-05 11:21] MidouWebDev opened #444 "Add CSS Tooltips in Login/Register/Forgotpwd pages"

[2021-06-05 12:57] mani-barathi commented on #443
@MidouWebDev  I think it's taking the count of nested comments as well

[2021-06-05 13:20] MidouWebDev commented on #443
@mani-barathi do you want to work on it ?

[2021-06-05 14:12] MidouWebDev commented on #444
40aadf5

[2021-06-05 14:12] #444 closed

[2021-06-05 14:43] akzain opened #445 "Problem in voting"
### Describe the bug

If you up vote a post and then down vote the same post it deducts 2 votes instead of deducing 1 vote.

#

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'A post'
2. Click on 'up vote button.'
3. Then click 'down vote button'
4. See  the error

#

### Expected behavior

The post should only deduct 1 vote if a user who already up voted a post and then down voted t

[2021-06-05 14:44] akzain commented on #445
I would love to work on this issue @MidouWebDev

[2021-06-05 14:45] ishitb commented on #434
@MidouWebDev I think there is some linting issue which cause the github actions workflow to fail. It's just formatting issues in 2 css files. Should I address them with this only or open up a new issue?

[2021-06-05 14:48] MidouWebDev commented on #445
@akzain i assigned you
Happy Coding ! 😉

[2021-06-05 14:54] MidouWebDev commented on #434
@ishitb create a new issue and when you fix the new one commit then and go back to fixing icons colors and commit then
DM me on discord if you didn't understand what i have written here

[2021-06-05 16:47] ishitb commented on #434
Alright, got it! Thanks 😄

[2021-06-05 17:13] #416 closed

[2021-06-05 17:38] mani-barathi commented on #374
@MidouWebDev I'll work on this!

[2021-06-05 17:41] MidouWebDev commented on #374
@mani-barathi okey, thanks !

[2021-06-05 18:53] ishitb opened #449 "Github Actions Workflow not passing"
### Preflight Checklist
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

The workflow defined has been failing due to some minor formatting issues which causes the lint and formatting scripts to fail.

#

### To Reproduce

Steps to reproduce the behavior:

1. Go to [Actions Tab](https://github.com/divanov11/Mumble/

[2021-06-05 20:05] MidouWebDev commented on #449
@ishitb do you want to work on it ?

[2021-06-05 20:07] ishitb commented on #449
@MidouWebDev Yes I'll work in it for the latest commit currently

[2021-06-05 20:08] MidouWebDev commented on #449
@ishitb okey cool
Please don't forget to tag me as a reviewer when you submit your PR

[2021-06-05 20:14] MidouWebDev opened #450 "Remove profile pic endpoint isn't linked to the "REMOVE AVATAR" Button"
### Preflight Checklist

* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

I worked on the frontend part, but the button isn't working.

#

### Expected behavior

So as a Mumble User, we need this feature.
Please, if you wanna link the endpoint to the button, comment below and tag me so that i can assign you for it

[2021-06-05 20:16] MidouWebDev commented on #450
I assigned you, @akzain !

(He DM-ed me on Discord)

[2021-06-05 20:19] MidouWebDev commented on #442
#446

[2021-06-05 20:20] MidouWebDev commented on #445
#448

[2021-06-05 21:22] #449 closed

[2021-06-05 21:23] MidouWebDev commented on #449
@ishitb awesome work bro
It is working now !

[2021-06-05 21:26] MidouWebDev commented on #434
@ishitb i merged your PR related to Github Actions, you did a good job !
Looking forward your contribution to this issue 🙏🏻

[2021-06-05 21:27] ishitb commented on #434
Thank you @MidouWebDev 😁 Almost done. I'll create a pull request in 20 minutes

[2021-06-05 21:28] MidouWebDev commented on #434
@ishitb take your time bro

[2021-06-05 22:02] #434 closed

[2021-06-06 03:43] codyseibert opened #454 "Images not working locally"
When trying to connect the UI to a locally running API, the images do not display.  This is because of the linode object bucket refactoring which causes the images to be stored in different locations.  This fix abstracts where image URLs come from so we can easily change the location in the frontend based on where the API is hosted.

[2021-06-06 05:44] #442 closed

[2021-06-06 05:47] mani-barathi commented on #374
@MidouWebDev There is nothing to change in the frontend regarding the email update.
If the user tries to update the email, we are making a proper request to the backend with the new email as a payload. But in the response, the email field is not present.
I checked the backend route I think line number **248** should be after line number **256**, such that response is created after the user object

[2021-06-06 08:41] MidouWebDev commented on #374
@PraveenMalethia

[2021-06-06 10:57] akzain commented on #450
I will work on it @MidouWebDev

[2021-06-06 10:59] MidouWebDev commented on #450
Cool, thanks @akzain

[2021-06-06 11:58] MidouWebDev opened #455 "🐛 A serious problem in the Login/Signup/Forgotpwd UI"
![UI-Issue](https://user-images.githubusercontent.com/72341453/120923458-91fc7e00-c6c6-11eb-81bb-c2a4deed054a.jpg)

[2021-06-06 12:04] akzain commented on #455
I would like to work on this @MidouWebDev

[2021-06-06 12:15] MidouWebDev commented on #455
Sure, thanks @akzain !

[2021-06-06 19:26] #445 closed

[2021-06-07 20:27] ishitb commented on #443
Hi @PraveenMalethia @MidouWebDev I think this is an issue in the backend and not the frontend. The feed is being fetched from `api/mumbles/?page=i`, which in turn fetched the [`Mumble` table](https://github.com/divanov11/mumbleapi/blob/9f616b12f9d24b7fa02788ab46cb91e38323a29e/feed/models.py#L8) from the database. And in the table the comments_count is mentioned already.

[2021-06-09 08:08] PraveenMalethia opened #456 "Options for post not showing correctly on profile page !"
Go to the profile page! then click options for mumble posts!

![image](https://user-images.githubusercontent.com/59171685/121317522-fec28300-c927-11eb-9d35-06d94b6d783c.png)

[2021-06-09 08:41] PraveenMalethia commented on #374
check the `new_email` which is received in the 'email' payload and if that is None! then it will be assigned to the user profile!

[2021-06-09 08:43] PraveenMalethia commented on #443
okay @ishitb  i will see that and update accordingly!

[2021-06-09 13:16] mani-barathi commented on #374
@PraveenMalethia Email is not received in the `user` or the `profile` object.

[2021-06-10 11:55] akzain opened #458 "Add a 'Scroll To Top' feature"
### Is your feature request related to a problem? Please describe.
A scroll to top feature would be great for the homepage.

#

### Describe the solution you'd like

If a user scrolls down he should see a button on the bottom on which if he clicks he gets scrolled back to top.

#

[2021-06-10 11:55] akzain commented on #458
I would like to work on this feature @MidouWebDev

[2021-06-10 11:57] MidouWebDev commented on #458
I think it is a great feature to add to Mumble. Let's take @Mr-spShuvo 's opinion !

[2021-06-14 19:43] MidouWebDev commented on #458
After DM-ing @Mr-spShuvo , he told me that we don't need this in Mumble.
Sorry @akzain !

[2021-06-14 19:43] #458 closed

[2021-06-14 19:44] MidouWebDev commented on #455
https://github.com/divanov11/Mumble/commit/571ba6779d9546691b0d7e1ce2c19a419488acd3

[2021-06-14 19:44] #455 closed

[2021-06-16 16:32] akzain opened #459 "Enhance the styling of homepage and posts"
### Is your feature request related to a problem? Please describe.

Add some styling to the home page and posts.

#

### Describe the solution you'd like

Improve the styling of homepage and posts.

#

[2021-06-16 16:33] akzain commented on #459
I will work on this @Mr-spShuvo

[2021-06-20 19:25] RadhiRasho opened #460 "Bugs on Login/Signup page"
### Preflight Checklist

* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

A clear and concise description of what the bug is.
There are cases on the login/registration page where popups are showing but they are behind the main login/signup area.
Picture provided below.

This same issue happens with the discord and

[2021-06-20 21:19] okumujustine commented on #460
I can work on this if it's clarified @codyseibert

[2021-06-20 21:23] okumujustine commented on #456
I don't see this on my side @PraveenMalethia , could you clarify more.?

[2021-06-20 21:29] okumujustine commented on #374
Looks like this is already working on my side, can someone close it!? or it's still being worked on? @PraveenMalethia

[2021-06-20 21:42] okumujustine commented on #374
However, the frontend changes reflect after refreshing the page.
![ezgif com-gif-maker (2)](https://user-images.githubusercontent.com/22288040/122689181-74ccc100-d229-11eb-9fdf-b70ba52d0a44.gif)

[2021-06-21 00:27] RadhiRasho commented on #460
@okumujustine my assumption is that the popover/tooltip is meant to appear telling the user what that icon/link leads to, similar to alt for the img tag.

[2021-06-21 04:47] mani-barathi commented on #374
I get that. The backend is updating the email but it's not sending the updated email back in the response. Because of that we are not able to update the email with new email in front-end.

[2021-06-21 07:13] okumujustine commented on #374
Okay, i get that @mani-barathi .

A temporary solution would be to monitor success (**in .then**) where the API  call is being made from and set the email to the entered email.
Or set to the previous email in case of API call failure (**in .catch**)
if backend will delay.

[2021-06-21 07:15] okumujustine commented on #460
ooh okay @RadhiRasho .

@Mr-spShuvo  assign me this task in case no one is working on it.

Thank you

[2021-06-21 07:17] mani-barathi commented on #374
@MidouWebDev should I implement the temporary fix suggested by @okumujustine

[2021-06-21 07:20] okumujustine commented on #374
That will be great, @Mr-spShuvo you could assign @mani-barathi  on this if it's okay.

[2021-06-21 09:43] mani-barathi opened #462 "Random issues and warnings"
There are some random small issues and warning which happens in development, which includes
- Invalid prop type in Button component
- duplicate key issue in search page
- unremoved console logs

All of these are quick fixes, So I'll fix this within today
@MidouWebDev assign this issue to me

[2021-06-21 18:45] Mr-spShuvo commented on #460
Hello Everyone. The login and signup page will be redesigned completely.
That's why No more PR on Login and Signup Page will be merged. for now.
Thank you.

[2021-06-21 18:45] #460 closed

[2021-06-21 18:46] #462 closed

[2021-06-22 02:12] PraveenMalethia commented on #374
Backend is updated to return updated email in response. Now you can update the frontend!

[2021-06-22 12:00] okumujustine commented on #374
@mani-barathi , you are work on this !?

[2021-06-22 12:41] mani-barathi commented on #374
@okumujustine I did make a simple temporary change, but if you what to take this issue go ahead and do it.
Here is the link to [PR](https://github.com/divanov11/Mumble/pull/461) I made. Mr-spShuvo was requesting some changes so have a look into that.

[2021-06-26 18:33] okumujustine commented on #450
@akzain are still working on this?

[2021-06-26 18:34] okumujustine commented on #450
@MidouWebDev , just wanted to confirm if this task is still being worked on.

[2021-06-27 09:13] #456 closed

[2021-07-03 06:26] akzain commented on #450
@okumujustine If you want you can work on this

[2021-07-06 16:57] kishore1919 opened #464 "Social Logins are Not working"
### Preflight Checklist

* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

Social login's are not Making New users to login or Signup Using git hub or Google.
#

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'https://www.mumble.dev/signup'
2. Click on 'Continue with GitHub or Google '
3. See error

#

[2021-09-14 14:30] dheerajsinghnagdali opened #467 "This is a crap webapp"
### Preflight Checklist

* [ ] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

A clear and concise description of what the bug is.

#

### To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

#

### Expected behavior

A clear and concise description of

[2021-09-14 14:57] dennisivy commented on #467
Useless comment, issue closed.

[2021-09-14 14:57] #467 closed, assigned to nobody

[2021-09-14 16:08] PraveenMalethia commented on #467
LOL

[2021-09-14 23:12] ghost commented on #467
why did he write such a useless comment!!??

[2021-09-16 19:49] Gersondelacruzdeveloper opened #468 "In user settings makes the skill tag dynamic,"
### Is your feature request related to a problem? Please describe.

When trying to add skills, would be better if I type a word and it's give me suggestions !

#

### Describe the solution you'd like

Would be better if I type the first letter of a word skill and it's give me suggestions!

[2021-10-09 13:37] ghost opened #470 "Cant submit avatar"
I am not able to submit my avatar, the image overlays submit submit button. My laptop screen size is 16''

[2021-11-09 18:38] bhavdeep-saragadam commented on #470
Hmmmm

[2021-11-09 18:39] bhavdeep-saragadam commented on #470
Send Pic

[2022-08-04 15:54] ddddami opened #480 "Enhance the styling of login button on homepage"
### Describe the solution you'd like

Restyle the button (Add width, height, box-sizing and padding)

#

[2022-08-04 16:11] #480 closed, assigned to nobody

[2022-08-24 20:03] ghost opened #481 "Login page: content does not extend to the screen end on mobile screen size"
### Preflight Checklist

* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.

#

### Describe the bug

On the login/sign up screens, the site content does not extend till the end of screen vertically. White space can be seen between the content end and the screen end.

#

### To Reproduce

Steps to reproduce the behavior:

1. Go to https://www

[2022-08-24 20:05] ghost commented on #481
I would like to take up this issue if possible.

[2022-08-26 11:19] ugintl opened #482 "Is it just frontend?"
Is there a backend? Where is it saving the data?

[2022-10-10 11:12] abhigeorge opened #486 "Unknown property 'variant' found react/no-unknown-property"
npm start

i ｢wds｣: Project is running at http://192.168.18.17/
i ｢wds｣: webpack output is served from
i ｢wds｣: Content not from webpack is served from C:\Users\abhig\Desktop\Mumble\mumble\frontend\public
i ｢wds｣: 404s will fallback to /
Starting the development server...

Failed to compile.

src\common\Message.js
  Line 5:52:  Unknown property 'variant' found  react/no-unknown-property

Search fo

[2022-10-10 12:47] abhigeorge commented on #486
Error fixed.

[2022-10-10 12:48] abhigeorge commented on #486
Issue fixed via the npm reinstall.

[2022-11-06 06:37] ghost opened #488 "Login/Signup page: Body does not take up the entire html content height on mobile screen size"
### Preflight Checklist

* [x] I have searched the issue tracker for an issue that matches the one I want to file and found a similar one but the account in question has been deleted so I am guessing the user who reported the issue won't pursue it any longer.

#

### Describe the bug

When shrinking screen to mobile device size, white space appears underneath the body indicating that the body is n

[2022-11-06 06:37] ghost commented on #488
I would like to take up this issue.

[2022-11-10 11:56] MujeerAhmed opened #490 "Signup page: can't create a new account"
Signing up a new account exhibits an error as shown in the picture.

![image](https://user-images.githubusercontent.com/117839246/201084474-1facd44b-1d21-4c31-b8f1-ee0505a943e2.png)

[2022-11-10 11:59] MujeerAhmed opened #491 "Login/Signup page: Google and GitHub authentication doesn't work"
Unable to sign-up/sign-in using github and google authentication